dependencies:
  - name: java
    version:  ~2.18.0
    repository: '@hmctspublic'
  - name: ccd
    version: 4.3.2
    repository: '@hmctspublic'
    tags:
      - probate-ccd-stack
  - name: xui-webapp
    version: ~0.2.1
    repository: '@hmctspublic'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled

  - name: postgresql
    version: 8.9.8
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled

  - name: probate-submit-service
    version: 0.2.7
    repository: '@hmctspublic'
    condition: probate-submit-service.enabled
