java:
  applicationPort: 4104
  environment:
    REFORM_TEAM: probate
    REFORM_SERVICE_NAME: back-office
    LOG_LEVEL: DEBUG
    APPINSIGHTS_INSTRUMENTATIONKEY: dummy
    AUTH_PROVIDER_SERVICE_CLIENT_KEY: ${S2S_AUTH_TOTP_SECRET}
    NOTIFICATIONS_GOVNOTIFYAPIKEY: ${PROBATE_BO_NOTIFY_KEY}
    PDF_SERVICE_GRANTSIGNATUREBASE64: ${BO_GRANT_SIG_FIRST}${BO_GRANT_SIG_LAST}
    PROBATE_POSTGRESQL_USER: probate_man
    PROBATE_POSTGRESQL_PASSWORD: probate_man
    PROBATE_POSTGRESQL_DATABASE: probate_man
    PROBATE_POSTGRESQL_HOSTNAME: ${SERVICE_NAME}-postgres
    PROBATE_POSTGRESQL_PORT: 5432
  # Don't modify below here.
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}


postgresql:
  postgresqlUsername: probate_man
  postgresqlPassword: probate_man
  postgresqlDatabase: probate_man
  nameOverride: postgres
  resources:
    requests:
      cpu: 25m
  initdbScripts:
    init.sql: |-
      CREATE DATABASE "probate_man" WITH OWNER = probate ENCODING = 'UTF-8' CONNECTION LIMIT = -1;

  persistence:
    enabled: false