tags:
  probate-ccd-stack: true

postgresql:
  enabled: true
  image:
    tag: '11.3.0'
  resources:
    requests:
      cpu: 25m
  initdbScripts:
    init.sql: |-
      CREATE DATABASE probate WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      CREATE DATABASE "user-profile" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
  postgresqlUsername: hmcts
  postgresqlPassword: hmcts
  persistence:
    enabled: false

idam-pr:
  enabled: true
  releaseNameOverride: ${SERVICE_NAME}-xui-idam-pr
  redirect_uris:
    Probate:
      - https://${SERVICE_FQDN}/oauth2/callback
    XUI:
      - https://xui-${SERVICE_FQDN}/oauth2/callback
      - http://xui-${SERVICE_FQDN}/oauth2/callback

ccd:
  ccd:
    adminWeb:
      enabled: false
    apiGatewayWeb:
      enabled: true
    definitionImporter:
      enabled: false
    managementWeb:
      enabled: false
    s2s:
      enabled: false
    postgresql:
      enabled: false

  global:
    ccdApiGatewayIngress: gateway-${SERVICE_FQDN}
    ccdDataStoreUrl: http://${SERVICE_NAME}-ccd-data-store-api
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store
    ccdUserProfileUrl: http://${SERVICE_NAME}-ccd-user-profile-api
    dmStoreUrl: http://dm-store-aat.service.core-compute-aat.internal
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    postgresUsername: hmcts
    postgresPassword: hmcts
    devMode: true

  ccd-api-gateway-web:
    nodejs:
      imagePullPolicy: Always
      environment:
        ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
        IDAM_SERVICE_KEY: ${API_GATEWAY_S2S_KEY}
        IDAM_OAUTH2_CLIENT_SECRET: ${API_GATEWAY_IDAM_SECRET}
        PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
      ingressHost: gateway-${SERVICE_FQDN}
      ingressIP: ${INGRESS_IP}
      keyVaults: []
  ccd-data-store-api:
    java:
      imagePullPolicy: Always
      environment:
        DATA_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DATA_STORE_IDAM_KEY: ${DATA_STORE_S2S_KEY}
        IDAM_API_BASE_URL: https://idam-api.aat.platform.hmcts.net
        IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
        IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET: ${IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET}
        IDAM_DATA_STORE_SYSTEM_USER_USERNAME: ${IDAM_DATA_STORE_SYSTEM_USER_USERNAME}
        IDAM_DATA_STORE_SYSTEM_USER_PASSWORD: ${IDAM_DATA_STORE_SYSTEM_USER_PASSWORD}
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOSTS: ${SERVICE_NAME}-es-master:9200
        ELASTIC_SEARCH_DATA_NODES_HOSTS: http://${SERVICE_NAME}-es-master:9200
        HTTP_CLIENT_READ_TIMEOUT: '120000'
        HTTP_CLIENT_MAX_TOTAL: '300'
        HTTP_CLIENT_MAX_CLIENT_PER_ROUTE: '30'
        DATA_STORE_DB_MAX_POOL_SIZE: 80
        DATA_STORE_DB_OPTIONS: "?stringtype=unspecified&ssl=disable&gssEncMode=disable"
        CCD_DOCUMENT_URL_PATTERN: ^https?://(((?:dm-store-aat\.service\.core-compute-aat\.internal(?::\d+)?)\/documents\/[A-Za-z0-9-]+(?:\/binary)?))
        CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
      keyVaults: []
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}
  ccd-definition-store-api:
    java:
      imagePullPolicy: Always
      environment:
        DEFINITION_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DEFINITION_STORE_IDAM_KEY: ${DEFINITION_STORE_S2S_KEY}
        DEFINITION_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_admin,xui_webapp,aac_manage_case_assignment
        DEFINITION_STORE_TX_TIMEOUT_DEFAULT: 60
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOST: ${SERVICE_NAME}-es-master
      keyVaults: []
      ingressHost: ccd-definition-store-${SERVICE_FQDN}
  ccd-user-profile-api:
    java:
      imagePullPolicy: Always
      enviroment:
        USER_PROFILE_DB_HOST: ${SERVICE_NAME}-postgresql
      keyVaults: []
      ingressHost: ccd-user-profile-api-${SERVICE_FQDN}
  ccd-user-profile-importer:
    image: hmctspublic.azurecr.io/ccd/user-profile-importer:latest
    users:
      - probatebackoffice@gmail.com|PROBATE|GrantOfRepresentation|open
      - probatesolicitorpreprod@gmail.com|PROBATE|GrantOfRepresentation|open

xui-webapp:
  enabled: true
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-webapp
    image: hmctspublic.azurecr.io/xui/webapp:latest
    ingressHost: xui-${SERVICE_FQDN}
    environment:
      HEALTH_CCD_COMPONENT_API: http://gateway-${SERVICE_FQDN}/health
      HEALTH_CCD_DATA_API: http://${SERVICE_NAME}-ccd-data-store-api/health
      HEALTH_TERMS_AND_CONDITIONS_API: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal/health
      SERVICES_CCD_COMPONENT_API: http://gateway-${SERVICE_FQDN}
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_TERMS_AND_CONDITIONS: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal
      JURISDICTIONS: PROBATE

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    PROBATE_POSTGRESQL_USER: "hmcts"
    PROBATE_POSTGRESQL_PASSWORD: "hmcts"
    PROBATE_POSTGRESQL_HOSTNAME: ${SERVICE_NAME}-postgresql
    PROBATE_POSTGRESQL_DATABASE: probate
    CCD_GATEWAY_HOST: http://gateway-${SERVICE_FQDN}
    SERVICES_CORECASEDATA_BASEURL : http://${SERVICE_NAME}-ccd-data-store-api
    CCD_DATA_STORE_API_HOST : http://${SERVICE_NAME}-ccd-data-store-api

  keyVaults:
    probate:
      secrets:
        - name: s2s-probate-backend
          alias: idam.s2s-auth.totp_secret
        - name: probate-bo-govNotifyApiKey
          alias: notifications.govNotifyApiKey
        - name: authTokenEmail
          alias: auth.provider.client.email
        - name: authTokenPassword
          alias: auth.provider.client.password
        - name: excelaEmail
          alias: excelaEmail
        - name: smeeAndFordEmail
          alias: smeeAndFordEmail
        - name: ftpSignature
          alias: ftp.client.signature
        - name: ftpEnv
          alias: ftp.client.environment
        - name: probate-bo-grantSignatureKey
          alias: pdf.service.grantSignatureSecretKey
        - name: probate-bo-grantSignatureFile
          alias: pdf.service.grantSignatureEncryptedFile
        - name: pdfServiceBaseUrl
          alias: docmosis.service.uri
        - name: pdfServiceAccessKey
          alias: docmosis.service.accessKey
        - name: pdfServiceHealthUrl
          alias: docmosis.service.health.uri
        - name: idam-secret-probate
          alias: auth.provider.client.secret
        - name: idamRedirectUrl
          alias: auth.provider.client.redirect
        - name: launchdarkly-key
          alias: ld.sdk_key
        - name: launchdarklyUserkeyBackend
          alias: ld.user.key
        - name: levPublicCertificate
          alias: lev.ssl.publicCertificate
        - name: levPrivateKey
          alias: lev.ssl.privateKey
        - name: levAccessTokenUri
          alias: lev.bearertoken.accessTokenUri
        - name: levClientId
          alias: lev.bearertoken.clientId
        - name: levClientSecret
          alias: lev.bearertoken.clientSecret
        - name: levUsername
          alias: lev.bearertoken.username
        - name: levPassword
          alias: lev.bearertoken.password
        - name: levDeathUrl
          alias: lev.death.url

