tags:
  probate-ccd-stack: false

idam-pr:
  enabled: false

aac-manage-case-assignment:
  enabled: false

xui-webapp:
  enabled: false

elastic:
  enabled: false

postgresql:
  enabled: false

java:
  applicationPort: 4104
  image: hmctspublic.azurecr.io/probate/back-office:latest
  aadIdentityName: probate
  ingressHost: probate-back-office-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  autoscaling:
    enabled: true
    maxReplicas: 4
    targetCPUUtilizationPercentage: 80 # Default is 80% target CPU utilization
  environment:
    REFORM_TEAM: probate
    REFORM_SERVICE_NAME: back-office
    LOG_LEVEL: INFO
    IDAM_CLIENT_NAME: probate
    S2S_AUTH_URL : http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PDF_SERVICE_URL: http://cmc-pdf-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PRINTSERVICE_HOST: https://return-case-doc-ccd.nonprod.platform.hmcts.net
    IDAM_SERVICE_HOST: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    FEE_API_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    EVIDENCE_MANAGEMENT_HOST: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CCD_GATEWAY_HOST: http://ccd-api-gateway-web-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SEND_LETTER_SERIVCE_BASEURL: http://rpe-send-letter-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SERVICES_CORECASEDATA_BASEURL : http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CCD_DATA_STORE_API_HOST : http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PRD_API_URL : http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYMENT_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    ACA_SERVICE_API_BASEURL: http://aac-manage-case-assignment-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal

    PROBATE_POSTGRESQL_USER: pgadmin
    PROBATE_POSTGRESQL_HOSTNAME: probatemandb-postgres-flexible-db-{{ .Values.global.environment }}.postgres.database.azure.com
    PROBATE_POSTGRESQL_DATABASE: probatemandb
    PROBATE_POSTGRESQL_PORT: 5432
    BLOB_STORAGE_SMEEANDFORD_FEATURE_ENABLED: true
    ADHOC_JOB_DATE:
    JOB_SHUTDOWN_DELAY: 10
    BACK_OFFICE_BASEURL: http://probate-back-office-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  keyVaults:
    probate:
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: probatemandb-POSTGRES-PASS-FLEX
          alias: spring.datasource.password
        - name: s2s-probate-backend
          alias: idam.s2s-auth.totp_secret
        - name: probate-bo-govNotifyApiKey
          alias: notifications.govNotifyApiKey
        - name: authTokenEmail
          alias: auth.provider.client.email
        - name: authTokenPassword
          alias: auth.provider.client.password
        - name: excelaEmail
          alias: excelaEmail
        - name: smeeAndFordEmail
          alias: smeeAndFordEmail
        - name: hmrcEmail
          alias: hmrcEmail
        - name: sealedAndCertifiedEmail
          alias: sealedAndCertifiedEmail
        - name: ftpSignature
          alias: ftp.client.signature
        - name: ftpEnv
          alias: ftp.client.environment
        - name: probate-bo-grantSignatureKey
          alias: pdf.service.grantSignatureSecretKey
        - name: probate-bo-grantSignatureFile
          alias: pdf.service.grantSignatureEncryptedFile
        - name: pdfServiceBaseUrl
          alias: docmosis.service.uri
        - name: pdfServiceAccessKey
          alias: docmosis.service.accessKey
        - name: pdfServiceHealthUrl
          alias: docmosis.service.health.uri
        - name: idam-secret-probate
          alias: auth.provider.client.secret
        - name: idamRedirectUrl
          alias: auth.provider.client.redirect
        - name: launchdarkly-key
          alias: ld.sdk_key
        - name: launchdarklyUserkeyBackend
          alias: ld.user.key
        - name: levPublicCertificate
          alias: lev.ssl.publicCertificate
        - name: levPrivateKey
          alias: lev.ssl.privateKey
        - name: levAccessTokenUri
          alias: spring.security.oauth2.client.provider.homeoffice.token-uri
        - name: levClientId
          alias: spring.security.oauth2.client.registration.homeoffice.client-id
        - name: levClientSecret
          alias: spring.security.oauth2.client.registration.homeoffice.client-secret
        - name: levUsername
          alias: lev.bearertoken.username
        - name: levPassword
          alias: lev.bearertoken.password
        - name: levDeathUrl
          alias: spring.security.oauth2.client.provider.homeoffice.authorization-uri
        - name: schedulerCaseWorkerUser
          alias: SCHEDULER_CASEWORKER_USERNAME
        - name: schedulerCaseWorkerPass
          alias: SCHEDULER_CASEWORKER_PASSWORD
        - name: probate-storage-account-primary-connection-string
          alias: PROBATE_STORAGE_ACCOUNT_PRIMARY_CONNECTION_STRING
