tags:
  probate-ccd-stack: true

idam-pr:
  enabled: true
  releaseNameOverride: ${SERVICE_NAME}-xui-idam-pr
  redirect_uris:
    Probate:
      - https://${SERVICE_FQDN}/oauth2/callback
    XUI:
      - https://xui-${SERVICE_FQDN}/oauth2/callback
      - http://xui-${SERVICE_FQDN}/oauth2/callback
    CCD Admin:
      - https://admin-web-${SERVICE_FQDN}/oauth2redirect

ccd:
  ccd:
    apiGatewayWeb:
      enabled: true
    definitionImporter:
      enabled: false
    managementWeb:
      enabled: false
    s2s:
      enabled: false
    printService:
      enabled: true
    elastic:
      enabled: true
    ras:
      enabled: true
  global:
    ccdApiGatewayIngress: gateway-${SERVICE_FQDN}
    ccdCaseManagementWebIngress: case-management-web-${SERVICE_FQDN}
    ccdDataStoreUrl: http://${SERVICE_NAME}-ccd-data-store-api
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store
    ccdUserProfileUrl: http://${SERVICE_NAME}-ccd-user-profile-api
    dmStoreUrl: http://dm-store-aat.service.core-compute-aat.internal
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    devMode: true
    postgresHostname: "probate-preview.postgres.database.azure.com"
    postgresSecret: postgres
    databaseNamePrefix: "pr-${CHANGE_ID}-"
    ccdAdminWebIngress: admin-web-${SERVICE_FQDN}
  postgresql:
    enabled: true
    flexibleserver: "probate-preview"
    setup:
      databases:
        - name: "pr-${CHANGE_ID}-data-store"
        - name: "pr-${CHANGE_ID}-definition-store"
        - name: "pr-${CHANGE_ID}-user-profile"
        - name: "pr-${CHANGE_ID}-role-assignment"
        - name: "pr-${CHANGE_ID}-probatemandb"
  ccd-admin-web:
    nodejs:
      image: hmctspublic.azurecr.io/ccd/admin-web:latest
      ingressHost: admin-web-${SERVICE_FQDN}
      keyVaults: []
      environment:
        IDAM_ADMIN_WEB_SERVICE_KEY: ${ADMIN_S2S_KEY}
        IDAM_OAUTH2_AW_CLIENT_SECRET: ${ADMIN_WEB_IDAM_SECRET}
    idam-pr:
      enabled: true
  ccd-case-print-service:
    enabled: true
    nodejs:
      imagePullPolicy: Always
      disableKeyVaults: true
      autoscaling:
        enabled: false
      environment:
        CASE_DATA_PROBATE_TEMPLATE_URL: http://${SERVICE_NAME}-java
        IDAM_PRINT_SERVICE_KEY: ${PRINT_S2S_KEY}
      ingressHost:
        ccd-case-print-service-${SERVICE_FQDN}
  ccd-api-gateway-web:
    nodejs:
      imagePullPolicy: Always
      environment:
        ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
        IDAM_SERVICE_KEY: ${API_GATEWAY_S2S_KEY}
        IDAM_OAUTH2_CLIENT_SECRET: ${API_GATEWAY_IDAM_SECRET}
        PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
        PROXY_PRINT_SERVICE: http://${SERVICE_NAME}-ccd-case-print-service
      ingressHost: gateway-${SERVICE_FQDN}
      ingressIP: ${INGRESS_IP}
      keyVaults: []
  ccd-data-store-api:
    java:
      imagePullPolicy: Always
      devcpuRequests: 1
      autoscaling:
        maxReplicas: 2
      devmemoryRequests: 2Gi
      devcpuLimits: 2
      devmemoryLimits: 2Gi
      environment:
        DATA_STORE_DB_HOST: '{{ .Values.global.postgresHostname }}'
        DATA_STORE_IDAM_KEY: ${DATA_STORE_S2S_KEY}
        IDAM_API_BASE_URL: https://idam-api.aat.platform.hmcts.net
        IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
        IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET: ${IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET}
        IDAM_DATA_STORE_SYSTEM_USER_USERNAME: ${IDAM_DATA_STORE_SYSTEM_USER_USERNAME}
        IDAM_DATA_STORE_SYSTEM_USER_PASSWORD: ${IDAM_DATA_STORE_SYSTEM_USER_PASSWORD}
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOSTS: ${SERVICE_NAME}-es-master:9200
        ELASTIC_SEARCH_DATA_NODES_HOSTS:  http://${SERVICE_NAME}-es-master:9200
        HTTP_CLIENT_READ_TIMEOUT: '120000'
        HTTP_CLIENT_MAX_TOTAL: '300'
        HTTP_CLIENT_MAX_CLIENT_PER_ROUTE: '30'
        DATA_STORE_DB_MAX_POOL_SIZE: 80
        DATA_STORE_DB_OPTIONS: "?stringtype=unspecified&sslmode=require"
        CCD_DOCUMENT_URL_PATTERN: ^https?://(((?:dm-store-aat\.service\.core-compute-aat\.internal(?::\d+)?)\/documents\/[A-Za-z0-9-]+(?:\/binary)?))
        CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
        ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service
        CCD_S2S_AUTHORISED_SERVICES_CASE_USER_ROLES: aac_manage_case_assignment,fpl_case_service,iac,finrem_case_orchestration,divorce_frontend,nfdiv_cos,civil_service,probate_backend
        LOG_CALLBACK_DETAILS: "*"
      keyVaults: []
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}
  am-role-assignment-service:
    java:
      disableKeyVaults: true
      keyVaults:
        am:
          secrets:
            - role-assignment-service-LD-SDK-KEY
      environment:
        ROLE_ASSIGNMENT_DB_HOST: '{{ .Values.global.postgresHostname }}'
        ROLE_ASSIGNMENT_DB_NAME: "{{ .Values.global.databaseNamePrefix }}role-assignment"
        CCD_DATA_STORE_URL: "http://${SERVICE_NAME}-ccd-data-store-api"
        ROLE_ASSIGNMENT_S2S_AUTHORISED_SERVICES: probate_backend,ccd_gw,am_role_assignment_service,am_org_role_mapping_service,wa_task_management_api,wa_task_configuration_api,xui_webapp,aac_manage_case_assignment,ccd_data,wa_workflow_api,wa_task_monitor,wa_case_event_handler,iac,hmc_cft_hearing_service,ccd_case_disposer
        LAUNCH_DARKLY_ENV: pr
        LD_SDK_KEY: ${LD_SDK_AM_KEY}
  ccd-definition-store-api:
    java:
      autoscaling:
        maxReplicas: 2
      imagePullPolicy: Always
      environment:
        DEFINITION_STORE_DB_HOST: '{{ .Values.global.postgresHostname }}'
        DEFINITION_STORE_IDAM_KEY: ${DEFINITION_STORE_S2S_KEY}
        DEFINITION_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_admin,xui_webapp,aac_manage_case_assignment
        DEFINITION_STORE_TX_TIMEOUT_DEFAULT: 60
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOST: ${SERVICE_NAME}-es-master
      keyVaults: []
      ingressHost: ccd-definition-store-${SERVICE_FQDN}
  ccd-user-profile-api:
    java:
      imagePullPolicy: Always
      environment:
        USER_PROFILE_DB_HOST: '{{ .Values.global.postgresHostname }}'
      keyVaults: []
      ingressHost: ccd-user-profile-api-${SERVICE_FQDN}
  elasticsearch:
    nameOverride: ${SERVICE_NAME}-es
    clusterName: "es"
    imageTag: "7.17.1"
    replicas: 1
    minimumMasterNodes: 1
    antiAffinity: "soft"
    esJavaOpts: "-Xmx512m -Xms512m"
    extraEnvs:
      - name: discovery.type
        value: single-node
      - name: cluster.initial_master_nodes
        value: ""
      - name: action.auto_create_index
        value: .security*,.watches,.triggered_watches,.watcher-history-*,.logstash_dead_letter,.ml*,grantofrepresentation_cases,caveat_cases,legacy_cases,standingsearch_cases,willlodgement_cases
    persistence:
      enabled: false
  logstash:
    elasticsearch:
      host: ${SERVICE_NAME}-es-master
      port: 9200
    image: hmctspublic.azurecr.io/ccd/logstash
    imageTag: "ccd-probate-logstash-latest"
    extraEnvs:
      - name: DATA_STORE_URL
        value: jdbc:postgresql://probate-preview.postgres.database.azure.com:5432/pr-${CHANGE_ID}-data-store?stringtype=unspecified&sslmode=require
      - name: DATA_STORE_USER
        value: hmcts
      - name: DATA_STORE_PASS
        value: hmcts
      - name: DB_URL
        value: jdbc:postgresql://probate-preview.postgres.database.azure.com:5432/pr-${CHANGE_ID}-data-store?stringtype=unspecified&sslmode=require
      - name: DB_USER
        value: hmcts
      - name: DB_PWD
        value: hmcts
      - name: ES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_DATA_NODES_URL
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ELASTIC_SEARCH_DATA_NODES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_URL
        value: http://${SERVICE_NAME}-es-master:9200
    resources:
      requests:
        cpu: "500m"
        memory: "1024Mi"
      limits:
        cpu: "2500m"
        memory: "1024Mi"
    configTpl:
      xpack.monitoring.enabled: "false"
      db.url: jdbc:postgresql://probate-preview.postgres.database.azure.com:5432/pr-${CHANGE_ID}-data-store?stringtype=unspecified&sslmode=require
      db.user: hmcts
      db.pwd: hmcts
      es.data.nodes.url: http://${SERVICE_NAME}-es-master:9200
    livenessProbe:
      initialDelaySeconds: 90
  ccd-user-profile-importer:
    image: hmctspublic.azurecr.io/ccd/user-profile-importer:latest
    users:
      - probatebackoffice@gmail.com|PROBATE|GrantOfRepresentation|open
      - probatesolicitorpreprod@gmail.com|PROBATE|GrantOfRepresentation|open

xui-webapp:
  enabled: true
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-webapp
    image: hmctspublic.azurecr.io/xui/webapp:latest
    ingressHost: xui-${SERVICE_FQDN}
    devcpuRequests: 500m
    devmemoryRequests: 512Mi
    devcpuLimits: 1
    devmemoryLimits: 1Gi
    environment:
      HEALTH_CCD_COMPONENT_API: http://gateway-${SERVICE_FQDN}/health
      HEALTH_CCD_DATA_API: http://${SERVICE_NAME}-ccd-data-store-api/health
      HEALTH_TERMS_AND_CONDITIONS_API: http://xui-terms-and-conditions-${SERVICE_FQDN}/health
      SERVICES_CCD_COMPONENT_API: http://${SERVICE_NAME}-ccd-api-gw
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_DOCUMENTS_API_V2: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
      SERVICES_CCD_CASE_ASSIGNMENT_API: http://${SERVICE_NAME}-aac-manage-case-assignment
      SERVICES_TERMS_AND_CONDITIONS: http://xui-terms-and-conditions-${SERVICE_FQDN}
      SERVICES_IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      SERVICES_S2S: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      JURISDICTIONS: PROBATE
      LAUNCH_DARKLY_CLIENT_ID: 5de6610b23ce5408280f2268
      FEATURE_REDIS_ENABLED: false
      FEATURE_APP_INSIGHTS_ENABLED: false
      FEATURE_SECURE_COOKIE_ENABLED: false
      FEATURE_PROXY_ENABLED: false
      FEATURE_TERMS_AND_CONDITIONS_ENABLED: false
      FEATURE_HELMET_ENABLED: true
      FEATURE_OIDC_ENABLED: false
      NOW: false
      REDISCLOUD_URL: http://dummyrediscloudurl
      UV_THREADPOOL_SIZE: 128
      PROTOCOL: http
    keyVaults:
      rpx:
        resourceGroup: rpx
        secrets:
          - mc-s2s-client-secret
          - mc-idam-client-secret
          - system-user-name
          - system-user-password

aac-manage-case-assignment:
  enabled: true
  java:
    disableKeyVaults: true
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-aac-manage-case-assignment
    image: hmctspublic.azurecr.io/aac/manage-case-assignment:latest
    ingressHost: aac-${SERVICE_FQDN}
    environment:
      IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      MCA_DS_PROXY_URLS_ALLOWED_LIST: /searchCases.*,/internal/searchCases.*,/internal/cases.*
      MCA_DEF_STORE_PROXY_URLS_ALLOWED_LIST: /api/display/challenge-questions.*
      MANAGE_CASE_S2S_AUTHORISED_SERVICES: xui_webapp,ccd_data,fpl_case_service,divorce_frontend,divorce_ccd_submission,finrem_case_orchestration,probate_backend
      CCD_DATA_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CCD_DEFINITION_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-definition-store
      PRD_HOST: http://rd-professional-api-aat.service.core-compute-aat.internal
      IDAM_CAA_USERNAME: ${BEFTA_IDAM_CAA_USERNAME}
      IDAM_CAA_PASSWORD: ${BEFTA_IDAM_CAA_PASSWORD}
      IDAM_CLIENT_SECRET: ${IDAM_CLIENT_SECRET}
      MANAGE_CASE_S2S_KEY: ${MANAGE_CASE_S2S_KEY}
      IDAM_NOC_APPROVER_USERNAME: ${BEFTA_IDAM_NOC_APPROVER_USERNAME}
      IDAM_NOC_APPROVER_PASSWORD: ${BEFTA_IDAM_NOC_APPROVER_PASSWORD}
      NOTIFY_MCA_API_KEY: ${PROBATE_BO_NOTIFY_KEY}
      NOTIFY_EMAIL_TEMPLATE_ID: 85f22924-7b45-4fc6-9954-c08a8833f6a0
      ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service
    autoscaling:
      enabled: false

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryLimits: 1.5Gi
  environment:
    PROBATE_POSTGRESQL_USER: "hmcts"
    PROBATE_POSTGRESQL_PASSWORD: "hmcts"
    PROBATE_POSTGRESQL_HOSTNAME: '{{ .Values.global.postgresHostname }}'
    PROBATE_POSTGRESQL_DATABASE: pr-${CHANGE_ID}-probatemandb
    CCD_GATEWAY_HOST: http://gateway-${SERVICE_FQDN}
    SERVICES_CORECASEDATA_BASEURL : http://${SERVICE_NAME}-ccd-data-store-api
    CCD_DATA_STORE_API_HOST : http://${SERVICE_NAME}-ccd-data-store-api
    CCD_UI_BASE_URL: https://case-management-web-${SERVICE_FQDN}
    CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
    BLOB_STORAGE_SMEEANDFORD_FEATURE_ENABLED: true
    BACK_OFFICE_BASEURL: https://${SERVICE_NAME}.preview.platform.hmcts.net
    ACA_SERVICE_API_BASEURL: http://${SERVICE_NAME}-aac-manage-case-assignment
    PROBATE_POSTGRESQL_HOSTNAME_VAL: '{{ .Values.global.postgresHostname }}'
    MANAGE_CASE_URL: https://xui-${SERVICE_FQDN}.preview.platform.hmcts.net
    FRONTEND_URL: http://probate.aat.platform.hmcts.net

  keyVaults:
    probate:
      secrets:
        - name: s2s-probate-backend
          alias: idam.s2s-auth.totp_secret
        - name: probate-bo-govNotifyApiKey
          alias: notifications.govNotifyApiKey
        - name: authTokenEmail
          alias: auth.provider.client.email
        - name: authTokenPassword
          alias: auth.provider.client.password
        - name: excelaEmail
          alias: excelaEmail
        - name: smeeAndFordEmail
          alias: smeeAndFordEmail
        - name: hmrcEmail
          alias: hmrcEmail
        - name: sealedAndCertifiedEmail
          alias: sealedAndCertifiedEmail
        - name: draftCaseWithPaymentEmail
          alias: draftCaseWithPaymentEmail
        - name: ftpSignature
          alias: ftp.client.signature
        - name: ftpEnv
          alias: ftp.client.environment
        - name: probate-bo-grantSignatureKey
          alias: pdf.service.grantSignatureSecretKey
        - name: probate-bo-grantSignatureFile
          alias: pdf.service.grantSignatureEncryptedFile
        - name: pdfServiceBaseUrl
          alias: docmosis.service.uri
        - name: pdfServiceAccessKey
          alias: docmosis.service.accessKey
        - name: pdfServiceHealthUrl
          alias: docmosis.service.health.uri
        - name: idam-secret-probate
          alias: auth.provider.client.secret
        - name: idamRedirectUrl
          alias: auth.provider.client.redirect
        - name: launchdarkly-key
          alias: ld.sdk_key
        - name: launchdarklyUserkeyBackend
          alias: ld.user.key
        - name: levPublicCertificate
          alias: lev.ssl.publicCertificate
        - name: levPrivateKey
          alias: lev.ssl.privateKey
        - name: levAccessTokenUri
          alias: spring.security.oauth2.client.provider.homeoffice.token-uri
        - name: levClientId
          alias: spring.security.oauth2.client.registration.homeoffice.client-id
        - name: levClientSecret
          alias: spring.security.oauth2.client.registration.homeoffice.client-secret
        - name: levUsername
          alias: lev.bearertoken.username
        - name: levPassword
          alias: lev.bearertoken.password
        - name: levDeathUrl
          alias: spring.security.oauth2.client.provider.homeoffice.authorization-uri
        - name: probate-storage-account-primary-connection-string
          alias: PROBATE_STORAGE_ACCOUNT_PRIMARY_CONNECTION_STRING
        - name: schedulerCaseWorkerUser
          alias: SCHEDULER_CASEWORKER_USERNAME
        - name: schedulerCaseWorkerPass
          alias: SCHEDULER_CASEWORKER_PASSWORD
