.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/**
/docker/test/
/target/
/jsonToXLS/
/node_modules/**
/src/test/end-to-end/output/**
/src/test/end-to-end/functional-output/**
mochawesome-report/**
output/
/output/**
functional-output/
/pacts/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.DS_store

git.properties

node_modules/\.bin/

node_modules/

src/test/end-to-end/functional-output/
src/test/end-to-end/.env
/src/main/build/


/bin/contractTest
/bin/main
/bin/test
/bin/testFunctional
/src/main/generated/

.aat-env
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
