.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/**
/docker/test/
/target/
/jsonToXLS/
/node_modules/**
/src/test/end-to-end/functional-output/**
/src/test/end-to-end/output/**
/output/**
functional-output/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.DS_store

git.properties

node_modules/\.bin/

node_modules/

src/test/end-to-end/functional-output/
