<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"/>
{% macro names(forenames, surname) %}{{ forenames }} {{ surname }}{% endmacro %}
{% macro valueOrNA(value) %}{% if value %}{{ value }}{% else %}N/A{% endif %}{% endmacro %}
{% macro address(address) %}
<tr>
  <td rowspan="3"></td>
  <td rowspan="3" valign="top">Building and Street:</td>
  <td>{% if address.AddressLine1 %}{{ address.AddressLine1 }}{% endif %}</td>
</tr>
<tr>
  <td>{% if address.AddressLine2 %}{{ address.AddressLine2 }}{% endif %}</td>
</tr>
<tr>
  <td>{% if address.AddressLine3 %}{{ address.AddressLine3 }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>Town or city:</td>
  <td>{% if address.PostTown %}{{ address.PostTown }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>County:</td>
  <td>{% if address.County %}{{ address.County }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>Postcode:</td>
  <td>{% if address.PostCode %}{{ address.PostCode }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>Country:</td>
  <td>{% if address.Country %}{{ address.Country }}{% endif %}</td>
</tr>
{% endmacro %}
{% macro notApplyingReason(reason) %}
<td valign="top">{% if reason == "DiedBefore" %}They died before the deceased.{% endif %}
    {% if reason == "DiedAfter" %}They died after the deceased.{% endif %}
    {% if reason == "PowerReserved" %}They're holding power reserved.{% endif %}
    {% if reason == "Renunciation" %}They have renounced.{% endif %}
    {% if reason == "PowerOfAttorney" %}They have appointed or wish to appoint another person to act as their attorney.{% endif %}
    {% if reason == "MentallyIncapable" %}They lack capacity to act as executor and the will allows for a substitution.{% endif %}
</td>
{% endmacro %}
<head>
  <title>Application for probate for {{ names(case_data.deceasedForenames,case_data.deceasedSurname) }}</title>
  <style type="text/css">

            body {
                font-family: Verdana, Arial;
            }

            .incomplete-banner {
                border: 1px solid #000;
                background-color: #ffafaf;
                text-align: center;
                padding: 10px 0;
                font-size: 1.3em;
            }

            .sequence {
                border-bottom: 1px solid #000;
                padding: 10px 0 10px 3px;
            }

            .pagebreak {
                min-height: 1020px;
            }

            .legal-header {
                font-size: 1.2em;
                text-align: center;
            }

            table-header {
                font-size: 1.2em;font-weight: bold;text-align: left;
            }

            .table-label {
                font-size: 1.1em;
                font-weight: bold;
                text-align: left;
            }

            .table-content {
                font-size: 1.1em;
                text-align: left;
            }

            .spacer {
                height: 40px;
            }

            tr.rowEven {
                background-color: #EEEEEE;
            }
        </style>
</head>
<body>
<h1>Application for probate for {{ names(case_data.deceasedForenames,case_data.deceasedSurname) }}</h1>
<p>
  <strong>Case number:</strong> {{ id }}<br>
  <strong>Jurisdiction:</strong> {{ jurisdiction }}<br>
  <strong>Case type:</strong> Grant of representation<br>
  <strong>Record type:</strong> SOLS<br>
</p>
<p>
  <strong>Date digital application submitted:</strong> {{ case_data.applicationSubmittedDate | date("DD/MM/YYYY") }}
</p>
<pre>
  <table border="0">
    <tr>
      <td colspan="3"><strong>Solicitor information</strong></td>
    </tr>
    <tr class="rowEven">
      <td colspan="2">Solicitor firm name:</td>
      <td>{% if case_data.solsSolicitorFirmName %}{{ case_data.solsSolicitorFirmName }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm address:</td>
      <td>{% if case_data.solsSolicitorAddress %}{{ address(case_data.solsSolicitorAddress) }}{% else %}N/A{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm email:</td>
      <td>{% if case_data.solsSolicitorEmail %}{{ case_data.solsSolicitorEmail }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm phone number:</td>
      <td>{{ valueOrNA(case_data.solsSolicitorPhoneNumber) }}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor name:</td>
      <td>{% if case_data.solsSOTName %}{{ case_data.solsSOTName }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor job title:</td>
      <td>{{ valueOrNA(case_data.solsSOTJobTitle) }}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor app reference:</td>
      <td>{{ valueOrNA(case_data.solsSolicitorAppReference) }}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor Forenames:</td>
      <td>{{ valueOrNA(case_data.solsSOTForenames) }}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor Surname:</td>
      <td>{{ valueOrNA(case_data.solsSOTSurname) }}</td>
    </tr>
    {% if case_data.solsExecutorAliasNames %}
    <tr>
      <td colspan="2">Solicitor Alias Names:</td>
      <td>{{ valueOrNA(case_data.solsExecutorAliasNames) }}</td>
    </tr>
    {% endif %}
    {% if case_data.solsSolicitorIsApplying %}
    <tr>
      <td colspan="2">Solicitor Is Applying:</td>
      <td>{{ case_data.solsSolicitorIsApplying }}</td>
    </tr>
    {% endif %}
    {% if case_data.solsSolicitorNotApplyingReason %}
    <tr>
      <td colspan="2">Solicitor Not Applying Reason:</td>
      <td>{{ case_data.solsSolicitorNotApplyingReason }}</td>
    </tr>
    {% endif %}
    {% if case_data.otherExecutorExists %}
    <tr>
      <td colspan="2">Other Executor Exists:</td>
      <td>{{ case_data.otherExecutorExists }}</td>
    </tr>
    {% endif %}
    {% if case_data.solsForenames %}
    <tr>
        <td colspan="2">Solicitor Forenames:</td>
        <td>{{ case_data.solsForenames }}</td>
    </tr>
    {% endif %}
    {% if case_data.solsSurname %}
    <tr>
        <td colspan="2">Solicitor Surnames:</td>
        <td>{{ case_data.solsSurname }}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Deceased details</strong></td>
    </tr>
    <tr>
      <td colspan="2">Deceased first name(s):</td>
      <td>{% if case_data.deceasedForenames %}{{ case_data.deceasedForenames }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased last name:</td>
      <td>{% if case_data.deceasedSurname %}{{ case_data.deceasedSurname }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Names used by the deceased for other assets:</td>
      <td>{% if case_data.solsDeceasedAliasNamesList | length == 0 %}
            N/A
          {% else %}
            {% for alias in case_data.solsDeceasedAliasNamesList %}{{ alias.value.SolsAliasname }}<br/>{% endfor %}
          {% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased Alias names:</td>
      <td>{% if case_data.deceasedAliasNamesList | length == 0 %}
            N/A
          {% else %}
            {% for alias in case_data.deceasedAliasNamesList %}{{ alias.value.aliasName }}<br/>{% endfor %}
          {% endif %}</td>
    </tr>
    <tr>
      <td colspan="3" valign="top">Deceased address</td>
      <td>{% if case_data.deceasedAddress %}{{address(case_data.deceasedAddress)}}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased date of birth:</td>
      <td>{% if case_data.deceasedDateOfBirth %}{{ case_data.deceasedDateOfBirth|date("DD/MM/YYYY", existingFormat="yyyy-MM-dd") }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased date of death:</td>
      <td>{% if case_data.deceasedDateOfDeath %}{{ case_data.deceasedDateOfDeath|date("DD/MM/YYYY", existingFormat="yyyy-MM-dd") }}{% endif %}</td>
    </tr>
    {% if case_data.dateOfDeathType %}
    <tr>
      <td colspan="2">Date of death type:</td>
      <td>{{ case_data.dateOfDeathType }}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">Deceased was domiciled in England or Wales:</td>
      <td>{% if case_data.deceasedDomicileInEngWales %}{{ case_data.deceasedDomicileInEngWales }}{% endif %}</td>
    </tr>
    {% if case_data.domicilityCountry %}
    <tr>
      <td colspan="2">Deceased Domicility Country:</td>
      <td>{{ case_data.domicilityCountry }}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">Did the deceased have a late spouse or civil partner:</td>
      <td>{% valueOrNA(case_data.deceasedHadLateSpouseOrCivilPartner) %}</td>
    </tr>
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Executor details</strong></td>
    </tr>
    <tr>
      <td colspan="2">Number of executors:</td>
      <td>{% if (case_data.executorsApplying | length == 0) and (case_data.executorsNotApplying | length == 0) %}
        {{( case_data.solsAdditionalExecutorList | length ) + 1 }}
        {% else %}
        {{( case_data.executorsApplying | length ) + ( case_data.executorsNotApplying | length ) +1 }}
        {% endif %}</td>
    </tr>

    <tr>
      <td colspan="3"><strong>Executors not applying</strong></td>
    </tr>
    {% set notApplying = 0 %}
    {% if case_data.primaryApplicantIsApplying == "No" %}{% set notApplying = notApplying + 1 %}
    <tr>
      <td colspan="2">Executor {{ notApplying }} name:</td>
      <td>{{ names(case_data.primaryApplicantForenames,case_data.primaryApplicantSurname) }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Not applying reason:</td>
      {{ notApplyingReason(case_data.solsPrimaryExecutorNotApplyingReason) }}
    </tr>
    {% endif %}

    {% if case_data.executorsNotApplying | length == 0 %}
    {% for additionalExecutor in case_data.solsAdditionalExecutorList %}
    {% if additionalExecutor.value.additionalApplying == "No" %}{% set notApplying = notApplying + 1 %}
    <tr>
      <td colspan="2">Executor {{ notApplying }} name:</td>
      <td>{{ additionalExecutor.value.additionalExecForenames }} {{ additionalExecutor.value.additionalExecLastname }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Not applying reason:</td>
      {{ notApplyingReason(additionalExecutor.value.additionalExecReasonNotApplying) }}
    </tr>
    {% endif %}
    {% endfor %}
    {% endif%}
    {% if case_data.executorsNotApplying %}
    {% for additionalExecutor in case_data.executorsNotApplying %}{% set notApplying = notApplying + 1 %}
    <tr>
      <td colspan="2">Executor {{ notApplying }} name:</td>
      <td>{{ additionalExecutor.value.notApplyingExecutorName }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Not applying reason:</td>
      {{ notApplyingReason(additionalExecutor.value.notApplyingExecutorReason) }}
    </tr>
    {% endfor %}
    {% endif %}

    {% if notApplying == 0 %}
    <tr><td></td><td>None</td></tr>
    {% endif%}
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>

    <tr>
      <td colspan="3"><strong>Executors applying</strong></td>
    </tr>
    {% set applying = 0 %}
    {% if case_data.primaryApplicantIsApplying == "Yes" %}{% set applying = applying + 1 %}
    <tr>
      <td colspan="2">Executor {{ applying }} name:</td>
      <td>{{ names(case_data.primaryApplicantForenames,case_data.primaryApplicantSurname) }}</td>
    </tr>
    <tr>
      <td colspan="2">Primary Executor Address:</td>
      <td>{{address(case_data.primaryApplicantAddress)}}</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    {% endif %}

    {% if case_data.executorsApplying | length == 0 %}
    {% for additionalExecutor in case_data.solsAdditionalExecutorList %}
    {% if additionalExecutor.value.additionalApplying == "Yes" %}{% set applying = applying + 1 %}
    <tr>
      <td colspan="2">Executor {{ applying }} name:</td>
      <td>{{ names(additionalExecutor.value.additionalExecForenames,additionalExecutor.value.additionalExecLastname) }}</td>
    </tr>
    {% if additionalExecutor.value.additionalExecAddress %}
    {{address(additionalExecutor.value.additionalExecAddress)}}
    {% endif %}
    <tr><td>&nbsp;</td></tr>
    </tr>{% endif %}{% endfor %}
    {% endif %}
    {% if case_data.executorsApplying %}
    {% for additionalExecutor in case_data.executorsApplying %}
    {% set applying = applying + 1 %}
    <tr>
      <td colspan="2">Executor {{ applying }} name:</td>
      <td>{{additionalExecutor.value.applyingExecutorName}}</td>
    </tr>
    {% if additionalExecutor.value.applyingExecutorAddress %}
    {{address(additionalExecutor.value.applyingExecutorAddress)}}
    {% endif %}
    <tr><td>&nbsp;</td></tr>
    </tr>{% endfor %}
    {% endif %}

    {% if case_data.executorsApplying | length >= 1 %}
      {% if case_data.primaryApplicantAlias %}
        <tr>
          <td colspan="2">Primary Applicant Alias</td>
          <td>{{ case_data.primaryApplicantAlias }}</td>
        </tr>
        {% endif %}
      {% if case_data.primaryApplicantAliasReason %}
        <tr>
          <td colspan="2">Primary Applicant Alias Reason</td>
          <td>{{ case_data.primaryApplicantAliasReason }}</td>
        </tr>
      {% endif %}
      {% if case_data.primaryApplicantAliasReasonOther %}
        <tr>
          <td colspan="2">Primary Applicant Alias Reason Other</td>
          <td>{{ case_data.primaryApplicantAliasReasonOther }}</td>
        </tr>
      {% endif %}
      {% if case_data.primaryApplicantRelationshipToDeceased %}
        <tr>
          <td colspan="2">Primary Applicant Relationship to Deceased</td>
          <td>{{ case_data.primaryApplicantRelationshipToDeceased }}</td>
        </tr>
      {% endif %}
      {% if case_data.paRelationshipToDeceasedOther %}
        <tr>
          <td colspan="2">Primary Applicant Relationship to Deceased Other</td>
          <td>{{ case_data.paRelationshipToDeceasedOther }}</td>
        </tr>
      {% endif %}
      {% if case_data.solsApplicantRelationshipToDeceased %}
        <tr>
          <td colspan="2">Solicitor's Relationship to Deceased</td>
          <td>{{ case_data.solsApplicantRelationshipToDeceased }}</td>
        </tr>
      {% endif %}
      {% if case_data.solsApplicantRelationshipToDeceased %}
        <tr>
          <td colspan="2">What is the applicant’s relationship to the deceased?</td>
          <td>{{ case_data.solsApplicantRelationshipToDeceased }}</td>
        </tr>
      {% endif %}
      {% if case_data.primaryApplicantEmailAddress %}
        <tr>
          <td colspan="2">Primary Applicant Email Address</td>
          <td>{{ case_data.primaryApplicantEmailAddress }}</td>
        </tr>
      {% endif %}
      {% if case_data.primaryApplicantPhoneNumber %}
        <tr>
          <td colspan="2">Primary Applicant Phone Number</td>
          <td>{{ case_data.primaryApplicantPhoneNumber }}</td>
        </tr>
      {% endif %}
      {% if case_data.primaryApplicantSecondPhoneNumber %}
        <tr>
          <td colspan="2">Primary Applicant Second Phone Number</td>
          <td>{{ case_data.primaryApplicantSecondPhoneNumber }}</td>
        </tr>
      {% endif %}
      {% if case_data.primaryApplicantAdoptionInEnglandOrWales %}
        <tr>
          <td colspan="2">Primary Applicant Adoption in England or Wales</td>
          <td>{{ case_data.primaryApplicantAdoptionInEnglandOrWales }}</td>
        </tr>
      {% endif %}

    {% endif %}

    <tr>
      <td colspan="3"><strong>Estate details</strong></td>
    </tr>
    <tr>
      <td colspan="2">IHT completed:</td>
      <td>{% if case_data.ihtFormId or case_data.ihtFormEstateValuesCompleted == "Yes" %}Yes{% elseif case_data.ihtFormEstateValuesCompleted == "No" %}No{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT form completed:</td>
      <td>{% if case_data.ihtFormId %}{{ case_data.ihtFormId }}{% elseif case_data.ihtFormEstate %}{{ case_data.ihtFormEstate }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Gross value:</td>
      <td>{% if case_data.ihtGrossValue %}&pound;{{ (case_data.ihtGrossValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Net value:</td>
      <td>{% if case_data.ihtNetValue %}&pound;{{ (case_data.ihtNetValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    {% if case_data.ihtFormEstateValuesCompleted == "No" %}
    <tr>
      <td colspan="2">IHT Estate Gross value:</td>
      <td>{% if case_data.ihtEstateGrossValue %}&pound;{{ (case_data.ihtEstateGrossValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Estate Net value:</td>
      <td>{% if case_data.ihtEstateNetValue %}&pound;{{ (case_data.ihtEstateNetValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Estate Net Qualifying value:</td>
      <td>{% if case_data.ihtEstateNetQualifyingValue %}&pound;{{ (case_data.ihtEstateNetQualifyingValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">Claiming unused IHT allowance:</td>
      <td>{% valueOrNA(case_data.ihtUnusedAllowanceClaimed) %}</td>
    </tr>
    <tr>
      <td colspan="2">Payment reference:</td>
      <td>{% valueOrNA(case_data.paymentReferenceNumber) %}</td>
    </tr>
    <tr>
      <td colspan="2">Unique probate code:</td>
      <td>{% valueOrNA(case_data.uniqueProbateCodeId) %}</td>
    </tr>
    {% if case_data.hmrcLetterId %}
    <tr>
      <td colspan="2">HMRC letter id:</td>
      <td>{{ case_data.hmrcLetterId }}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Additional information</strong></td>
    </tr>
    <tr>
      <td colspan="2">Will Y/N:</td>
      <td>{% if case_data.willExists %}{{ case_data.willExists }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Is the will original:</td>
      <td>{% valueOrNA(case_data.willAccessOriginal) %}</td>
    </tr>
    <tr>
      <td colspan="2">Will with codicils:</td>
      <td>{% valueOrNA(case_data.willHasCodicils) %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased any other name on will:</td>
      <td>{% valueOrNA(case_data.deceasedAnyOtherNameOnWill) %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased alias first name on will:</td>
      <td>{% valueOrNA(case_data.deceasedAliasFirstNameOnWill) %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased alias last name on will:</td>
      <td>{% valueOrNA(case_data.deceasedAliasLastNameOnWill) %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of codicils:</td>
        <td>{% if case_data.codicilAddedDateList | length >= 0 %}{{case_data.codicilAddedDateList | length}}{% else %}N/A{% endif %}</td>
    </tr>
    {% if case_data.deceasedMarriedAfterWillOrCodicilDate %}
    <tr>
      <td colspan="2">Deceased Married After Will Or Codicil Date:</td>
      <td>{{ case_data.deceasedMarriedAfterWillOrCodicilDate }}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">Number of extra copies of grant required (UK):</td>
      <td>{% valueOrNA(case_data.extraCopiesOfGrant) %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of copies of grant required (outside of UK):</td>
      <td>{% valueOrNA(case_data.outsideUKGrantCopies) %}</td>
    </tr>
    <tr>
      <td colspan="2">Total fee due:</td>
      <td>{% if case_data.totalFee %}&pound;{{ (case_data.totalFee/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    {% if case_data.registryLocation %}
    <tr>
      <td colspan="2">Registry location:</td>
      <td>{{ case_data.registryLocation }}</td>
    </tr>
    {% endif %}
    {% if case_data.applicationType %}
    <tr>
      <td colspan="2">Application Type:</td>
      <td>{{ case_data.applicationType }}</td>
    </tr>
    {% endif %}
    {% if case_data.deceasedAnyOtherNames %}
    <tr>
        <td colspan="2">Did the deceased use any other names:</td>
        <td>{{ case_data.deceasedAnyOtherNames }}</td>
    </tr>
    {% endif %}
    {% if case_data.titleAndClearingType %}
    <tr>
      <td colspan="2">Title and Clearing Type:</td>
      <td>{{ case_data.titleAndClearingType }}</td>
    </tr>
    {% endif %}
    {% if case_data.trustCorpName %}
    <tr>
      <td colspan="2">Trust Corp Name:</td>
      <td>{{ case_data.trustCorpName }}</td>
    </tr>
    {% endif %}
    {% if case_data.trustCorpAddress %}
    <tr>
      <td colspan="2">Trust Corp Address:</td>
      <td>{{ address(case_data.trustCorpAddress) }}</td>
    </tr>
    {% endif %}
    {% if case_data.anyOtherApplyingPartners %}
    <tr>
      <td colspan="2">Any Other Applying Partners:</td>
      <td>{{ case_data.anyOtherApplyingPartners }}</td>
    </tr>
    {% endif %}
  </table>
</pre>
</body>
</html>
