<!DOCTYPE html>
<html lang="en">
<head>
  <title>Application for probate for {{ case_data.deceasedForenames }} {{ case_data.deceasedSurname }}</title>
  <style type="text/css">

            body {
                font-family: Verdana, Arial;
            }

            .incomplete-banner {
                border: 1px solid #000;
                background-color: #ffafaf;
                text-align: center;
                padding: 10px 0;
                font-size: 1.3em;
            }

            .sequence {
                border-bottom: 1px solid #000;
                padding: 10px 0 10px 3px;
            }

            .pagebreak {
                min-height: 1020px;
            }

            .legal-header {
                font-size: 1.2em;
                text-align: center;
            }

            table-header {
                font-size: 1.2em;font-weight: bold;text-align: left;
            }

            .table-label {
                font-size: 1.1em;
                font-weight: bold;
                text-align: left;
            }

            .table-content {
                font-size: 1.1em;
                text-align: left;
            }

            .spacer {
                height: 40px;
            }

        </style>
</head>
<body>
<h1>Application for probate for {{ case_data.deceasedForenames }} {{ case_data.deceasedSurname }}</h1>
<p>
  <strong>Case Number:</strong> {{ id }}<br>
  <strong>Jurisdiction:</strong> {{ jurisdiction }}<br>
  <strong>Case Type:</strong> {{ case_type_id }}<br>
</p>
<p>
  <strong>Date digital application submitted:</strong> {{ last_modified | date("DD/MM/YYYY") }}
</p>
<pre>
  <table border="0">
    <tr>
      <td colspan="2">Deceased first name(s):</td>
      <td>{% if case_data.deceasedForenames %}{{ case_data.deceasedForenames }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased last name:</td>
      <td>{% if case_data.deceasedSurname %}{{ case_data.deceasedSurname }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased was domiciled in England or Wales:</td>
      <td>{% if case_data.deceasedDomicileInEngWales %}{{ case_data.deceasedDomicileInEngWales }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3" valign="top">Deceased address:</td>
    </tr>
    <tr>
      <td rowspan="3"></td>
      <td rowspan="3" valign="top">Building and Street</td>
      <td>{% if case_data.deceasedAddress.AddressLine1 %}{{ case_data.deceasedAddress.AddressLine1 }}{% endif %}</td>
    </tr>
    <tr>
      <td>{% if case_data.deceasedAddress.AddressLine2 %}{{ case_data.deceasedAddress.AddressLine2 }}{% endif %}</td>
    </tr>
    <tr>
      <td>{% if case_data.deceasedAddress.AddressLine3 %}{{ case_data.deceasedAddress.AddressLine3 }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Town or city:</td>
      <td>{% if case_data.deceasedAddress.PostTown %}{{ case_data.deceasedAddress.PostTown }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>County:</td>
      <td>{% if case_data.deceasedAddress.County %}{{ case_data.deceasedAddress.County }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Postcode:</td>
      <td>{% if case_data.deceasedAddress.PostCode %}{{ case_data.deceasedAddress.PostCode }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Country:</td>
      <td>{% if case_data.deceasedAddress.Country %}{{ case_data.deceasedAddress.Country }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of applicants:</td>
      <td>{% if case_data.numberOfAppicants %}{{ case_data.numberOfAppicants }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased date of birth:</td>
      <td>{% if case_data.deceasedDateOfBirth %}{{ case_data.deceasedDateOfBirth|date("DD/MM/YYYY", existingFormat="yyyy-MM-dd") }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased date of death:</td>
      <td>{% if case_data.deceasedDateOfDeath %}{{ case_data.deceasedDateOfDeath|date("DD/MM/YYYY", existingFormat="yyyy-MM-dd") }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>

    <tr>
      <td colspan="2">Will Y/N:</td>
      <td>{% if case_data.willExists%}{{ case_data.willExists }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Is the will original:</td>
      <td>{% if case_data.willAccessOriginal%}{{ case_data.willAccessOriginal}}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Will with codicils:</td>
      <td>{% if case_data.willHasCodicils %}{{ case_data.willHasCodicils }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of codicils:</td>
      <td>{% if case_data.willNumberOfCodicils %}{{ case_data.willNumberOfCodicils }}{% endif %}</td>
    </tr>

    <tr>
      <td colspan="2">Names used by the deceased for other assets:</td>
      <td>{% for alias in case_data.solsDeceasedAliasNamesList %}{{ alias.value.SolsAliasname }}<br/>{% endfor %}</td>
    </tr>

    <tr>
      <td colspan="2">Is the applicant an executor:</td>
      <td>{% if case_data.applicantIsExecutor %}{{ case_data.applicantIsExecutor }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Applicant first name(s):</td>
      <td>{% if case_data.primaryApplicantForenames %}{{ case_data.primaryApplicantForenames }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Applicant last name:</td>
      <td>{% if case_data.primaryApplicantSurname %}{{ case_data.primaryApplicantSurname }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3">Applicant address:</td>
    </tr>
    <tr>
      <td rowspan="4"></td>
      <td rowspan="4" valign="top">Building and Street</td>
    </tr>
    <tr>
      <td>{% if case_data.primaryApplicantAddress.AddressLine1 %}{{ case_data.primaryApplicantAddress.AddressLine1 }}{% endif %}</td>
    </tr>
    <tr>
      <td>{% if case_data.primaryApplicantAddress.AddressLine2 %}{{ case_data.primaryApplicantAddress.AddressLine2 }}{% endif %}</td>
    </tr>
    <tr>
      <td>{% if case_data.primaryApplicantAddress.AddressLine3 %}{{ case_data.primaryApplicantAddress.AddressLine3 }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Town or city:</td>
      <td>{% if case_data.primaryApplicantAddress.PostTown %}{{ case_data.primaryApplicantAddress.PostTown }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>County:</td>
      <td>{% if case_data.primaryApplicantAddress.County %}{{ case_data.primaryApplicantAddress.County }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Postcode:</td>
      <td>{% if case_data.primaryApplicantAddress.PostCode %}{{ case_data.primaryApplicantAddress.PostCode }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Country:</td>
      <td>{% if case_data.primaryApplicantAddress.Country %}{{ case_data.primaryApplicantAddress.Country }}{% endif %}</td>
    </tr>

    <tr>
      <td colspan="2">Number of executors:</td>
      <td>{{( case_data.solsAdditionalExecutorList | length ) + 1 }}</td>
    </tr>

    <tr>
      <td colspan="3">Additional executors applying:</td>
    </tr>
    {% set applying = 0 %}{% for additionalExecutor in case_data.solsAdditionalExecutorList %}
    {% if additionalExecutor.value.additionalApplying == "Yes" %}{% set applying = applying + 1 %}
    <tr>
      <td></td>
      <td>Executor name:</td>
      <td>{{ additionalExecutor.value.additionalExecForenames }} {{ additionalExecutor.value.additionalExecLastname }}</td>
    </tr>
    {% if additionalExecutor.value.additionalExecAddress %}
    <tr>
      <td></td>
      <td rowspan="3" valign="top">Building and Street</td>
      <td>{% if additionalExecutor.value.additionalExecAddress.AddressLine1 %}{{ additionalExecutor.value.additionalExecAddress.AddressLine1 }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>{% if additionalExecutor.value.additionalExecAddress.AddressLine2 %}{{ additionalExecutor.value.additionalExecAddress.AddressLine2 }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>{% if additionalExecutor.value.additionalExecAddress.AddressLine3 %}{{ additionalExecutor.value.additionalExecAddress.AddressLine3 }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Town or city:</td>
      <td>{% if additionalExecutor.value.additionalExecAddress.PostTown %}{{ additionalExecutor.value.additionalExecAddress.PostTown }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>County:</td>
      <td>{% if additionalExecutor.value.additionalExecAddress.County %}{{ additionalExecutor.value.additionalExecAddress.County }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Postcode:</td>
      <td>{% if additionalExecutor.value.additionalExecAddress.PostCode %}{{ additionalExecutor.value.additionalExecAddress.PostCode }}{% endif %}</td>
    </tr>
    <tr>
      <td></td>
      <td>Country:</td>
      <td>{% if additionalExecutor.value.additionalExecAddress.Country %}{{ additionalExecutor.value.additionalExecAddress.Country }}{% endif %}</td>
    </tr>
    {% endif %}
    <tr><td>&nbsp;</td></tr>
    </tr>{% endif %}{% endfor %}
    {% if applying == 0 %}
    <tr><td></td><td>None</td></tr>
    {% endif%}

    <tr>
      <td colspan="3">Additional executors not applying:</td>
    </tr>
    {% set notApplying = 0 %}
    {% for additionalExecutor in case_data.solsAdditionalExecutorList %}
    {% if additionalExecutor.value.additionalApplying == "No" %}{% set notApplying = notApplying + 1 %}
    <tr>
      <td></td>
      <td>Executor name:</td>
      <td>{{ additionalExecutor.value.additionalExecForenames }} {{ additionalExecutor.value.additionalExecLastname }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Not applying reason:</td>
      <td valign="top">{% if additionalExecutor.value.additionalExecReasonNotApplying == "DiedBefore" %}They died before the deceased.{% endif %}{% if additionalExecutor.value.additionalExecReasonNotApplying == "DiedAfter" %}They died after the deceased.{% endif %}{% if additionalExecutor.value.additionalExecReasonNotApplying == "PowerReserved" %}They're holding power reserved.{% endif %}{% if additionalExecutor.value.additionalExecReasonNotApplying == "Renunciation" %}They have renounced.{% endif %}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% if notApplying == 0 %}
    <tr><td></td><td>None</td></tr>
    {% endif%}
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>

    <tr>
      <td colspan="2">IHT completed:</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td colspan="2">IHT form completed:</td>
      <td>{% if case_data.solsIHTFormId %}{{ case_data.solsIHTFormId }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Gross value:</td>
      <td>{% if case_data.ihtGrossValue %}{{ (case_data.ihtGrossValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Net value:</td>
      <td>{% if case_data.ihtNetValue %}{{ (case_data.ihtNetValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of extra copies of grant required (UK):</td>
      <td>{% if case_data.extraCopiesOfGrant %}{{ case_data.extraCopiesOfGrant }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of copies of grant required (outside of UK):</td>
      <td>{% if case_data.outsideUKGrantCopies %}{{ case_data.outsideUKGrantCopies }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Total fee due:</td>
      <td>{% if case_data.totalFee %}{{ (case_data.totalFee/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Payment reference:</td>
      <td>{% if case_data.solsPaymentReferenceNumber %}{{ case_data.solsPaymentReferenceNumber }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm name:</td>
      <td>{% if case_data.solsSolicitorFirmName %}{{ case_data.solsSolicitorFirmName }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm postcode:</td>
      <td>{% if case_data.solsSolicitorFirmPostcode %}{{ case_data.solsSolicitorFirmPostcode }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor name:</td>
      <td>{% if case_data.solsSOTName %}{{ case_data.solsSOTName }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor job title:</td>
      <td>{% if case_data.solsSOTJobTitle %}{{ case_data.solsSOTJobTitle }}{% endif %}</td>
    </tr>

  </table>
</pre>
</body>
</html>
