<!DOCTYPE html>
<html lang="en">
{% macro names(forenames, surname) %}{{ forenames }} {{ surname }}{% endmacro %}
{% macro address(address)%}
<tr>
  <td rowspan="3"></td>
  <td rowspan="3" valign="top">Building and Street:</td>
  <td>{% if address.AddressLine1 %}{{ address.AddressLine1 }}{% endif %}</td>
</tr>
<tr>
  <td>{% if address.AddressLine2 %}{{ address.AddressLine2 }}{% endif %}</td>
</tr>
<tr>
  <td>{% if address.AddressLine3 %}{{ address.AddressLine3 }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>Town or city:</td>
  <td>{% if address.PostTown %}{{ address.PostTown }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>County:</td>
  <td>{% if address.County %}{{ address.County }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>Postcode:</td>
  <td>{% if address.PostCode %}{{ address.PostCode }}{% endif %}</td>
</tr>
<tr>
  <td></td>
  <td>Country:</td>
  <td>{% if address.Country %}{{ address.Country }}{% endif %}</td>
</tr>
{% endmacro %}
{% macro notApplyingReason(reason) %}
<td valign="top">{% if reason == "DiedBefore" %}They died before the deceased.{% endif %}{% if reason == "DiedAfter" %}They died after the deceased.{% endif %}{% if reason == "PowerReserved" %}They're holding power reserved.{% endif %}{% if reason == "Renunciation" %}They have renounced.{% endif %}</td>
{% endmacro %}
<head>
  <title>Application for probate for {{ names(case_data.deceasedForenames,case_data.deceasedSurname) }}</title>
  <style type="text/css">

            body {
                font-family: Verdana, Arial;
            }

            .incomplete-banner {
                border: 1px solid #000;
                background-color: #ffafaf;
                text-align: center;
                padding: 10px 0;
                font-size: 1.3em;
            }

            .sequence {
                border-bottom: 1px solid #000;
                padding: 10px 0 10px 3px;
            }

            .pagebreak {
                min-height: 1020px;
            }

            .legal-header {
                font-size: 1.2em;
                text-align: center;
            }

            table-header {
                font-size: 1.2em;font-weight: bold;text-align: left;
            }

            .table-label {
                font-size: 1.1em;
                font-weight: bold;
                text-align: left;
            }

            .table-content {
                font-size: 1.1em;
                text-align: left;
            }

            .spacer {
                height: 40px;
            }

            tr.rowEven {
                background-color: #EEEEEE;
            }
        </style>
</head>
<body>
<h1>Application for probate for {{ names(case_data.deceasedForenames,case_data.deceasedSurname) }}</h1>
<p>
  <strong>Case number:</strong> {{ id }}<br>
  <strong>Jurisdiction:</strong> {{ jurisdiction }}<br>
  <strong>Case type:</strong> Grant of representation<br>
  <strong>Record type:</strong> SOLS<br>
</p>
<p>
  <strong>Date digital application submitted:</strong> {{ last_modified | date("DD/MM/YYYY") }}
</p>
<pre>
  <table border="0">
    <tr>
      <td colspan="3"><strong>Solicitor information</strong></td>
    </tr>
    <tr class="rowEven">
      <td colspan="2">Solicitor firm name:</td>
      <td>{% if case_data.solsSolicitorFirmName %}{{ case_data.solsSolicitorFirmName }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm postcode:</td>
      <td>{% if case_data.solsSolicitorFirmPostcode %}{{ case_data.solsSolicitorFirmPostcode }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm email:</td>
      <td>{% if case_data.solsSolicitorEmail %}{{ case_data.solsSolicitorEmail }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor firm phone number:</td>
      <td>{% if case_data.solsSolicitorPhoneNumber %}{{ case_data.solsSolicitorPhoneNumber }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor name:</td>
      <td>{% if case_data.solsSOTName %}{{ case_data.solsSOTName }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Solicitor job title:</td>
      <td>{% if case_data.solsSOTJobTitle %}{{ case_data.solsSOTJobTitle }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Deceased details</strong></td>
    </tr>
    <tr>
      <td colspan="2">Deceased first name(s):</td>
      <td>{% if case_data.deceasedForenames %}{{ case_data.deceasedForenames }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased last name:</td>
      <td>{% if case_data.deceasedSurname %}{{ case_data.deceasedSurname }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Names used by the deceased for other assets:</td>
      <td>{% for alias in case_data.solsDeceasedAliasNamesList %}{{ alias.value.SolsAliasname }}<br/>{% endfor %}</td>
    </tr>
    <tr>
      <td colspan="3" valign="top">Deceased address</td>
    </tr>
    {{address(case_data.deceasedAddress)}}
    <tr>
      <td colspan="2">Deceased date of birth:</td>
      <td>{% if case_data.deceasedDateOfBirth %}{{ case_data.deceasedDateOfBirth|date("DD/MM/YYYY", existingFormat="yyyy-MM-dd") }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased date of death:</td>
      <td>{% if case_data.deceasedDateOfDeath %}{{ case_data.deceasedDateOfDeath|date("DD/MM/YYYY", existingFormat="yyyy-MM-dd") }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Deceased was domiciled in England or Wales:</td>
      <td>{% if case_data.deceasedDomicileInEngWales %}{{ case_data.deceasedDomicileInEngWales }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Executor details</strong></td>
    </tr>
    <tr>
      <td colspan="2">Number of executors:</td>
      <td>{{( case_data.solsAdditionalExecutorList | length ) + 1 }}</td>
    </tr>

    <tr>
      <td colspan="3"><strong>Executors not applying</strong></td>
    </tr>
    {% set notApplying = 0 %}
    {% if case_data.primaryApplicantIsApplying == "No" %}{% set notApplying = notApplying + 1 %}
    <tr>
      <td colspan="2">Executor {{ notApplying }} name:</td>
      <td>{{ names(case_data.primaryApplicantForenames,case_data.primaryApplicantSurname) }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Not applying reason:</td>
      {{ notApplyingReason(case_data.solsPrimaryExecutorNotApplyingReason) }}
    </tr>
    {% endif %}
    {% for additionalExecutor in case_data.solsAdditionalExecutorList %}
    {% if additionalExecutor.value.additionalApplying == "No" %}{% set notApplying = notApplying + 1 %}
    <tr>
      <td colspan="2">Executor {{ notApplying }} name:</td>
      <td>{{ additionalExecutor.value.additionalExecForenames }} {{ additionalExecutor.value.additionalExecLastname }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Not applying reason:</td>
      {{ notApplyingReason(additionalExecutor.value.additionalExecReasonNotApplying) }}
    </tr>
    {% endif %}
    {% endfor %}
    {% if notApplying == 0 %}
    <tr><td></td><td>None</td></tr>
    {% endif%}
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>

    <tr>
      <td colspan="3"><strong>Executors applying</strong></td>
    </tr>
    {% set applying = 0 %}
    {% if case_data.primaryApplicantIsApplying == "Yes" %}{% set applying = applying + 1 %}
    <tr>
      <td colspan="2">Executor {{ applying }} name:</td>
      <td>{{ names(case_data.primaryApplicantForenames,case_data.primaryApplicantSurname) }}</td>
    </tr>
    {{address(case_data.primaryApplicantAddress)}}
    <tr><td>&nbsp;</td></tr>
    {% endif %}
    {% for additionalExecutor in case_data.solsAdditionalExecutorList %}
    {% if additionalExecutor.value.additionalApplying == "Yes" %}{% set applying = applying + 1 %}
    <tr>
      <td colspan="2">Executor {{ applying }} name:</td>
      <td>{{ names(additionalExecutor.value.additionalExecForenames,additionalExecutor.value.additionalExecLastname) }}</td>
    </tr>
    {% if additionalExecutor.value.additionalExecAddress %}
    {{address(additionalExecutor.value.additionalExecAddress)}}
    {% endif %}
    <tr><td>&nbsp;</td></tr>
    </tr>{% endif %}{% endfor %}

    <tr>
      <td colspan="3"><strong>Estate details</strong></td>
    </tr>
    <tr>
      <td colspan="2">IHT completed:</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td colspan="2">IHT form completed:</td>
      <td>{% if case_data.solsIHTFormId %}{{ case_data.solsIHTFormId }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Gross value:</td>
      <td>{% if case_data.ihtGrossValue %}£{{ (case_data.ihtGrossValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">IHT Net value:</td>
      <td>{% if case_data.ihtNetValue %}£{{ (case_data.ihtNetValue/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Payment reference:</td>
      <td>{% if case_data.solsPaymentReferenceNumber %}{{ case_data.solsPaymentReferenceNumber }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3" class="spacer">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Additional information</strong></td>
    </tr>
    <tr>
      <td colspan="2">Will Y/N:</td>
      <td>{% if case_data.willExists%}{{ case_data.willExists }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Is the will original:</td>
      <td>{% if case_data.willAccessOriginal%}{{ case_data.willAccessOriginal}}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Will with codicils:</td>
      <td>{% if case_data.willHasCodicils %}{{ case_data.willHasCodicils }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of codicils:</td>
      <td>{% if case_data.willNumberOfCodicils %}{{ case_data.willNumberOfCodicils }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of extra copies of grant required (UK):</td>
      <td>{% if case_data.extraCopiesOfGrant %}{{ case_data.extraCopiesOfGrant }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Number of copies of grant required (outside of UK):</td>
      <td>{% if case_data.outsideUKGrantCopies %}{{ case_data.outsideUKGrantCopies }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Total fee due:</td>
      <td>{% if case_data.totalFee %}£{{ (case_data.totalFee/100) | money('0,0.00') }}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="2">Registry location:</td>
      <td>{{ case_data.registryLocation }}</td>
    </tr>
    <tr>
      <td colspan="2">Application Type:</td>
      <td>{{ case_data.applicationType }}</td>
    </tr>
  </table>
</pre>
</body>
</html>
