<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all" th:text="${title}">Probate application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">

            body {
                font-family: Verdana, Arial;
            }

            .incomplete-banner {
                border: 1px solid #000;
                background-color: #ffafaf;
                text-align: center;
                padding: 10px 0;
                font-size: 1.3em;
            }

            .sequence {
                border-bottom: 1px solid #000;
                padding: 10px 0 10px 3px;
            }

            .table-content {
                display: block;
                padding-top: 8px;
            }

            .pagebreak {
                min-height: 1020px;
            }

            .legal-header {
                font-size: 1.2em;
                text-align: center;
            }

            .spacer {
                height: 20px;
            }

        </style>
</head>

<body>

<table>
  <thead>
  <tr th:if="${softStop} == 'softStop'">
    <td colspan="2" class="incomplete-banner">
      <strong><span th:text="#{incompleteApplication}">Incomplete Application</span></strong>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="sequence">
      <strong><span th:text="#{sequenceNumber(${registrySequenceNumber})}">--</span></strong>
    </td>
  </tr>
  </thead>

  <tbody class="table-content">
  <tr>
    <td th:text="#{submissionDate}">Date digital application submitted:</td>
    <td th:text="${#calendars.format(submissionDate,'dd MMMM yyyy HH:mm')}">--/--/----</td>
  </tr>
  <tr>
    <td th:text="#{type}">Type of applicant</td>
    <td>Personal</td>
  </tr>
  <tr>
    <td th:text="#{applicantIsExecutor}">Is the applicant an executor:</td>
    <td th:text="${applicantIsExecutor}">--</td>
  </tr>
  <tr>
    <td th:text="#{applicantFirstName}">Applicant forename(s):</td>
    <td th:text="${applicantFirstName}">--</td>
  </tr>
  <tr>
    <td th:text="#{applicantLastName}">Applicant surname:</td>
    <td th:text="${applicantLastName}">--</td>
  </tr>
  <tr>
    <td th:text="#{applicantAddress}">Applicant address:</td>
    <td th:text="${applicantAddress}">--</td>
  </tr>
  <tr>
    <td th:text="#{applicantPostcode}">Applicant postcode:</td>
    <td th:text="${applicantPostcode}">--</td>
  </tr>
  <tr>
    <td th:text="#{applicantPhone}">Applicant phone number:</td>
    <td th:text="${applicantPhone}">--</td>
  </tr>
  <tr>
    <td th:text="#{email}">Applicant email address:</td>
    <td th:text="${applicantEmail}">--</td>
  </tr>
  <tr>
    <td th:text="#{deceasedFirstname}">Deceased forename(s):</td>
    <td th:text="${deceasedFirstname}">--</td>
  </tr>
  <tr>
    <td th:text="#{deceasedSurname}">Deceased surname:</td>
    <td th:text="${deceasedSurname}">--</td>
  </tr>
  <tr>
    <td th:text="#{deceasedDomicile}">At the time of their death the person who died:</td>
    <td th:text="${deceasedDomicile}">--</td>
  </tr>

  <tr>
    <td th:text="#{deceasedAddress}">Deceased address:</td>
    <td th:text="${deceasedAddress}">--</td>
  </tr>
  <tr>
    <td th:text="#{deceasedPostcode}">Deceased postcode:</td>
    <td th:text="${deceasedPostcode}">--</td>
  </tr>
  <tr>
    <td th:text="#{noOfApplicants}">Number of applicants:</td>
    <td th:text="${noOfApplicants}">--</td>
  </tr>
  <tr>
    <td th:text="#{deceasedDob}">Deceased date of birth:</td>
    <td th:text="${deceasedDob}">--/--/----</td>
  </tr>
  <tr>
    <td th:text="#{deceasedDod}">Deceased date of death:</td>
    <td th:text="${deceasedDod}">--/--/----</td>
  </tr>
  <tr>
    <td th:text="#{willLeft}">Will Y/N</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td th:text="#{willOriginal}">Is the will original:</td>
    <td th:text="${willOriginal}">--</td>
  </tr>
  <tr>
    <td th:text="#{willWithDate}">Will with date:</td>
    <td th:text="${willWithDate}">--</td>
  </tr>
  <tr th:if="${willDate} != null">
    <td th:text="#{willDate}">Will date:</td>
    <td th:text="${willDate}">--</td>
  </tr>
  <tr>
    <td th:text="#{willWithCodicils}">Will with codicils:</td>
    <td th:text="${willWithCodicils}">--</td>
  </tr>
  <tr th:if="${willCodicilsNumber} != null">
    <td th:text="#{willCodicilsNumber}">Number of codicils:</td>
    <td th:text="${willCodicilsNumber}">--</td>
  </tr>
  <tr th:if="${willCodicilsWithDate} != null">
    <td th:text="#{willCodicilsWithDate}">Codicil with date:</td>
    <td th:text="${willCodicilsWithDate}">--</td>
  </tr>
  <tr th:if="${willCodicilsDate} != null">
    <td th:text="#{willCodicilsDate}">Codicil date:</td>
    <td th:text="${willCodicilsDate}">--</td>
  </tr>
  <tr>
    <td th:text="#{deceasedAliasAssets}">Assets in an alias name:</td>
    <td th:text="${deceasedAliasAssets}">--</td>
  </tr>
  <tr th:if="${deceasedOtherNames} != null">
    <td th:text="#{deceasedOtherNames}">Names used by the deceased:</td>
    <td>
      <ul th:each="otherName: ${deceasedOtherNames}">
        <li th:text="${otherName.get('firstName').asText()} + ' ' + ${otherName.get('lastName').asText()}">
          firstName lastName
        </li>
      </ul>
    </td>
  </tr>
  <tr th:if="${deceasedMarriedAfterDateOnWill} != null">
    <td th:text="#{deceasedMarriedAfterDateOnWill}">Married or entered into a civil partnership after the date of the will:</td>
    <td th:text="${deceasedMarriedAfterDateOnWill}">--</td>
  </tr>
  <tr>
    <td th:text="#{noOfExecutors}">Number of executors:</td>
    <td th:text="${noOfExecutors}">--</td>
  </tr>

  <tr>
    <td th:text="#{dealingWithEstate}">Will other executors be dealing with the estate</td>
    <td th:text="${dealingWithEstate}">--</td>
  </tr>

  <tr>
    <td colspan="2" th:text="#{executorsApplying}">Other Executors applying (name + email + number + othernames used)</td>
  </tr>

  <tr th:each="executor: ${executorsApplying}">
    <td th:text="${executor.class.simpleName} == 'ObjectNode' ? ${executor.get('fullName').asText()}">
      --
    </td>
    <td th:utext="${executor.class.simpleName} == 'ObjectNode' ? ${executor.get('email').asText()}">
      --
    </td>
    <td th:utext="${executor.class.simpleName} == 'ObjectNode' ? ${executor.get('mobile').asText()}">
      --
    </td>
    <td th:utext="${executor.class.simpleName} == 'ObjectNode' and ${executor.get('currentName')} != null? ${executor.get('currentName').asText()}">
      --
    </td>
  </tr>
  <tr>
    <td colspan="2" th:text="#{executorsNotApplying}">Executors not applying (name + reason)</td>
  </tr>

  <tr th:each="executor: ${executorsNotApplying}">
    <td th:text="${executor.class.simpleName} == 'ObjectNode' ? ${executor.get('fullName').asText()}">
      --
    </td>
    <td th:utext="${executor.class.simpleName} == 'ObjectNode' ? ${executor.get('notApplyingReason').asText()}">
      ---
    </td>
  </tr>
  <tr>
    <td th:text="#{ihtCompleted}">IHT completed:</td>
    <td th:text="${ihtCompleted}">Yes</td>
  </tr>
  <tr>
    <td th:text="#{ihtForm}">IHT form completed:</td>
    <td th:text="${ihtForm}">Online</td>
  </tr>
  <tr>
    <td th:text="#{ihtIdentifier}">IHT reference number:</td>
    <td th:text="${ihtIdentifier}">--</td>
  </tr>
  <tr>
    <td th:text="#{ihtGrossValue}">IHT Gross value:</td>
    <td th:text="${ihtGrossValue}">--</td>
  </tr>
  <tr>
    <td th:text="#{ihtNetValue}">IHT Net value:</td>
    <td th:text="${ihtNetValue}">--</td>
  </tr>
  <tr>
    <td th:text="#{copiesUK}">Number of extra copies of grant required (UK):</td>
    <td th:text="${copiesUK}">--</td>
  </tr>
  <tr>
    <td th:text="#{copiesOverseas}">Number of copies of grant required (outside of UK):</td>
    <td th:text="${copiesOverseas}">--</td>
  </tr>
  <tr>
    <td th:text="#{totalFee}">Total fee due:</td>
    <td th:text="${totalFee}">--</td>
  </tr>
  <tr>
    <td th:text="#{paymentReference}">Payment reference:</td>
    <td th:text="${paymentReference}">--</td>
  </tr>
  </tbody>

</table>

<div class="pagebreak"> </div>

<table>
  <thead>
  <tr>
    <td colspan="2" class="sequence">
      <strong><span th:text="#{sequenceNumber(${registrySequenceNumber})}">--</span></strong>
    </td>
  </tr>
  </thead>

  <tbody class="table-content">

  <tr>
    <td colspan="2" style="height: 15px;">
    </td>
  </tr>
  <tr>
    <td colspan="2" class="legal-header">
      <strong>IN THE HIGH COURT OF JUSTICE</strong><br />
      FAMILY DIVISION<br />
      (PROBATE)
    </td>
  </tr>
  <tr>
    <td colspan="2" style="height: 15px;">
    </td>
  </tr>

  <tr th:if="${declaration} != null">
    <td valign="top" th:text="#{declaration}">Declaration:</td>
    <td>
      <p th:text="${declaration.get('confirm').asText()}">--</p>
      <ul>
        <li th:text="${declaration.get('confirmItem1').asText()}">--</li>
        <li th:text="${declaration.get('confirmItem2').asText()}">--</li>
        <li th:text="${declaration.get('confirmItem3').asText()}">--</li>
      </ul>

      <p th:text="${declaration.get('requests').asText()}">--</p>
      <ul>
        <li th:text="${declaration.get('requestsItem1').asText()}">--</li>
        <li th:text="${declaration.get('requestsItem2').asText()}">--</li>
      </ul>

      <p th:text="${declaration.get('understand').asText()}">--</p>
      <ul>
        <li th:text="${declaration.get('understandItem1').asText()}">--</li>
        <li th:text="${declaration.get('understandItem2').asText()}">--</li>
      </ul>
      <p th:text="${declaration.get('accept').asText()}">--</p>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="spacer"></td>
  </tr>
  <tr th:if="${legalStatement} != null">
    <td valign="top" th:text="#{legalStatement}">Legal statement:</td>
    <td>
      <p th:utext="${legalStatement.get('intro').asText()}">--</p>
      <p th:text="${legalStatement.get('applicant').asText()}">--</p>
      <p th:text="${legalStatement.get('deceased').asText()}">--</p>
      <p th:text="${legalStatement.get('deceasedOtherNames')} != null ? ${legalStatement.get('deceasedOtherNames').asText()}">--</p>
      <th:block th:each="executor : ${legalStatement.get('executorsApplying')}">
        <p th:text="${executor.get('name').asText()}">--</p>
        <p th:text="${executor.get('sign').asText()}">--</p>
      </th:block>
      <p th:utext="${legalStatement.get('deceasedEstateValue')} != null ?${legalStatement.get('deceasedEstateValue').asText()}">--</p>
      <p th:text="${legalStatement.get('deceasedEstateLand')} != null ? ${legalStatement.get('deceasedEstateLand').asText()}">--</p>
      <th:block th:each="executor : ${legalStatement.get('executorsNotApplying')}">
        <p th:text="${executor.asText()}">--</p>
      </th:block>
    </td>
  </tr>
  </tbody>

</table>

</body>
</html>
