<!DOCTYPE html>
{% extends "grantPrintTemplate.html" %}
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:remove="all" th:text="${title}">Grant of Probate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">

        body {
            font-family: "Times New Roman", sans-serif;
        }
        #watermark {
            height: 1500px;
            width: 1500px;
            position: absolute;
            overflow: hidden;
            opacity: 0.50;
            top: 30%;
            text-align: center;
            z-index: 0;
            color: #ff0000;
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            margin-left: 255px;

        }
    </style>
</head>
{% block content %}
    <div id="watermark" style = "font-size: 5.0em">
        DRAFT COPY -
        <br /> NOT FOR CIRCULATION
    </div>
{% endblock content%}
</html>
