server:
  port: ${probate.sol.ccd.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /
  endpoint:
    health:
      show-details: always
      enabled: true

authorised.services: probate_backend,ccd_data,ccd-datamgmt-api,ccd_ps,ccd
auth.provider.service.client:
  key: AAAAAAAAAAAAAAAA
  baseUrl: http://localhost:4502
  microservice: probate_backend
  tokenTimeToLiveInSeconds: 900

pdf.service:
  url: http://localhost:5500
  pdfApi: /api/v2/pdf-generator/html
  templatesDirectory: templates/pdf/
  defaultDisplayFilename: generated.pdf
  grantSignatureBase64: dummy_hash

fee.api:
  url: http://localhost:4411
  api: /fees-register/fees/lookup
  service: probate
  jurisdiction1: family
  jurisdiction2: probate registry
  channel: default
  applicantType: all

markdown.templatesDirectory: templates/markdown/

#dev deployment of ccd-print-service used for local
#host: https://return-case-doc.dev.ccd.reform.hmcts.net:3453
printservice:
  templatesDirectory: templates/printService/
  host: http://localhost:3453
  internal:
    host: http://localhost:3453
  path: /jurisdictions/PROBATE/case-types/GrantOfRepresentation/cases/%s/probate/

ccd.gateway:
  host: http://localhost:3453
  caseMatchingPath: /data/searchCases

spring:
  jackson:
    serialization:
      wrap_root_value: false
      write-dates-as-timestamps: false
    deserialization:
      unwrap_root_value: false
  application:
    name: probate-sol-ccd

spring.jackson.serialization.write_dates_as_timestamps: false

####Evidence management Service URL's
#hard coded to point to docker container ccd-data-store-api CCD_DM_DOMAIN value
evidence.management.host: http://dm-store:8080
evidence.management.upload.file.url: /documents

http.connect.timeout: 60000
http.connect.request.timeout: 60000

idam.service.host: ${PROVIDER_SERVICE_CLIENT_URL:http://localhost:4502}

logging:
  level:
    org.springframework.web: ERROR
    uk.gov.hmcts.probate: INFO
  pattern:
    console: "%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"

azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:false}

notifications:
  govNotifyApiKey: "probate_back_office_live_test-4809d6a8-a10b-405d-88eb-1fee9b3042e3-682b1c3b-647e-4a32-99b9-98a8b7c7feb7"
  templates:
    email:
      personal:
        documentReceived: "04308c65-a0bb-40b4-a3f3-ba8869048520"
        caseStopped: "58aed5cb-0aab-44f5-842f-9f0a6a150f72"
        grantIssued: "9344693b-9ea3-487d-bec1-68201214fd27"
        generalCaveatMessage: "afadf00e-c224-4da0-a6dc-fb47a2e5db67"
      solicitor:
        documentReceived: "7f8ff32d-8297-4702-9867-312047f81492"
        caseStopped: "77041301-77a5-4382-a3a7-0bada17518b0"
        grantIssued: "95aa541b-e55e-4d7c-a6f5-810b5f03adba"
        generalCaveatMessage: "afadf00e-c224-4da0-a6dc-fb47a2e5db67"

registries:
  oxford:
    name: Oxford Probate Registry
    phone: 0300 303 0648
    emailReplyToId: "3c2df3ad-6eaf-4395-b85c-1ef5c5c89d4f"
  birmingham:
    name: Birmingham Probate Registry
    phone: 0121 681 3401
    emailReplyToId: "e3511bc5-98d8-457c-b49b-5b0c0ba4892a"
  manchester:
    name: Manchester Probate Registry
    phone: 0161 240 5701 / 0161 240 5702
    emailReplyToId: "cdb5b02c-c6b6-490b-9367-8af3a3ae80b1"
  leeds:
    name: Leeds Probate Registry
    phone: 0113 389 6133
    emailReplyToId: "1c5cc757-b7a7-4eaf-a69c-ce5bb34b63cf"
  liverpool:
    name: Liverpool Probate Registry
    phone: 0151 236 8264
    emailReplyToId: "102affef-13f1-4c9b-856d-ed183e71bd6f"
  brighton:
    name: Brighton Probate Registry
    phone: 01273 573510
    emailReplyToId: "2aebc9bd-6192-43af-a774-f2f17e69f14e"
  london:
    name: London Probate Department
    phone: 020 7421 8509
    emailReplyToId: "4b8b7c3f-6d7f-45c0-9a10-544a52c04e23"
  cardiff:
    name: Probate Registry of Wales
    phone: 02920 474373
    emailReplyToId: "6d98cad6-adb4-4446-b37e-5c3f0441a0c8"
  newcastle:
    name: Newcastle-Upon-Tyne Probate Registry
    phone: 0191 211 2170
    emailReplyToId: "21106760-70e7-4b61-adb8-7df6f653f8db"
  winchester:
    name: Winchester Probate Registry
    phone: 01962 814100
    emailReplyToId: "de5b8f8d-fb9c-4fd7-aa3a-3732a86a2e5d"
