server:
  port: ${probate.sol.ccd.port}

management:
  security:
    enabled: false

security:
  basic:
    enabled: false

authorised.services: probate_backend,ccd_data,ccd-datamgmt-api,ccd_ps,ccd
auth.provider.service.client:
  key: DUMMYKEYVALUE
  baseUrl: http://localhost:4502
  microservice: probate_backend
  tokenTimeToLiveInSeconds: 900

pdf.service:
  url: http://localhost:5500
  pdfApi: /api/v1/pdf-generator/html
  templatesDirectory: templates/pdf/
  defaultDisplayFilename: legal_statement.pdf
  grantSignatureBase64: dummy_hash

fee.api:
  url: http://localhost:4411
  api: /fees-register/fees/lookup
  service: probate
  jurisdiction1: family
  jurisdiction2: probate registry
  channel: default
  applicantType: all

markdown.templatesDirectory: templates/markdown/

#dev deployment of ccd-print-service used for local
#host: https://return-case-doc.dev.ccd.reform.hmcts.net:3453
printservice:
  templatesDirectory: templates/printService/
  host: http://localhost:3453
  internal:
    host: http://localhost:3453
  path: /jurisdictions/PROBATE/case-types/GrantOfRepresentation/cases/%s/probate/

spring:
  jackson:
    serialization:
      wrap_root_value: false
    deserialization:
      unwrap_root_value: false
  application:
    name: probate-sol-ccd

spring.jackson.serialization.write_dates_as_timestamps: false

####Evidence management Service URL's
#hard coded to point to docker container ccd-data-store-api CCD_DM_DOMAIN value
evidence.management.host: http://localhost:8080
evidence.management.upload.file.url: /documents

http.connect.timeout: 60000
http.connect.request.timeout: 60000

idam.service.host: ${PROVIDER_SERVICE_CLIENT_URL:http://localhost:4502}

logging:
  level:
    org.springframework.web: ERROR
    uk.gov.hmcts.probate: INFO
  pattern:
    console: "%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"

azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:false}

notifications:
  govNotifyApiKey: "dummy_key"
  templates:
    email:
      personal:
        documentReceived: "04308c65-a0bb-40b4-a3f3-ba8869048520"
        caseStooped: "58aed5cb-0aab-44f5-842f-9f0a6a150f72"
        grantIssued: "9344693b-9ea3-487d-bec1-68201214fd27"
      solicitor:
        documentReceived: "7f8ff32d-8297-4702-9867-312047f81492"
        caseStooped: "77041301-77a5-4382-a3a7-0bada17518b0"
        grantIssued: "95aa541b-e55e-4d7c-a6f5-810b5f03adba"

registries:
  oxford:
    name: Oxford Probate Registry
    phone: 0300 303 0648
  birmingham:
    name: Birmingham Probate Registry
    phone: 0121 681 3401
  manchester:
    name: Manchester Probate Registry
    phone: 0161 240 5701 / 0161 240 5702
