server:
  port: ${probate.sol.ccd.port}

resttemplate:
  httpclient:
    timeout: 10000

ftp.client:
  url: https://green.blob.core.windows.net
  environment: ${FTP_ENV:test}
  signature: ${FTP_SIGNATURE:fakeValue}

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /
  endpoint:
    health:
      show-details: always
      enabled: true

authorised.services: probate_backend,ccd_data,ccd-datamgmt-api,ccd_ps,ccd,bulk_scan_processor,bulk_scan_orchestrator
auth.provider.service.client:
  key: AAAAAAAAAAAAAAAA
  baseUrl: http://localhost:4502
  microservice: probate_backend
  tokenTimeToLiveInSeconds: 900

auth.provider.client:
  user: ${IDAM_SERVICE_HOST:http://localhost:4501}
  secret: ${IDAM_SECRET:123456}
  id: probate
  redirect: ${IDAM_REDIRECT_URL:http://localhost:3451/oauth2redirect}
  email: ${AUTH_TOKEN_EMAIL:probatesolcw1@gmail.com}
  password: ${AUTH_TOKEN_PASSWORD:password}

pdf.service:
  url: http://localhost:5500
  pdfApi: /api/v2/pdf-generator/html
  templatesDirectory: templates/pdf/
  defaultDisplayFilename: generated.pdf
  grantSignatureSecretKey: signaturetestkey
  grantSignatureEncryptedFile: signatures/grantSignature-test.png.enc
  hmctsFamilyLogoBase64File: signatures/hmctsFamilyLogo.png.b64

docmosis:
  service:
    uri: ${PDF_SERVICE_BASEURL:https://docmosis-development.platform.hmcts.net}
    accessKey: ${PDF_SERVICE_ACCESS_KEY:ZDYxMTkzZTQtMGY2Mi00NDM1LWIyN2ItNGRkNzdjOTczMjAwOjQ1NTE0ODQ}
    health.uri: ${PDF_SERVICE_HEALTH_URL:https://docmosis-development.platform.hmcts.net}
  templates:
    caveatRaised:
      templateName: FL-PRB-GNO-ENG-00011.doc
    caveatCoversheet:
      templateName: FL-PRB-GNO-ENG-00018.docx
    caveatStopped:
      templateName: FL-PRB-GNO-ENG-00025.docx
    grantCoversheet:
      templateName: FL-PRB-GNO-ENG-00024.docx
    digitalGrantReissueDraft:
      templateName: FL-PRB-GNO-ENG-00061.doc
    intestacyGrantReissueDraft:
      templateName: FL-PRB-GNO-ENG-00061.doc
    admonWillGrantReissueDraft:
      templateName: FL-PRB-GNO-ENG-00061.doc
    digitalGrantReissue:
      templateName: FL-PRB-GNO-ENG-00061.doc
    intestacyGrantReissue:
      templateName: FL-PRB-GNO-ENG-00061.doc
    admonWillGrantReissue:
      templateName: FL-PRB-GNO-ENG-00061.doc
    sotInformationRequest:
      templateName: FL-PRB-GNO-ENG-00085.doc
    sentEmail:
      templateName: FL-PRB-EML-ENG-00086.doc
    statementOfTruth:
      templateName: FL-PRB-SOT-ENG-00090.doc
    assembledLetter:
      templateName: FL-PRB-GNO-ENG-00133.docx

fee.api:
  url: http://localhost:4411
  api: /fees-register/fees/lookup
  service: probate
  jurisdiction1: family
  jurisdiction2: probate registry
  channel: default
  applicantType: all
  keyword: NewFee

markdown.templatesDirectory: templates/markdown/

#dev deployment of ccd-print-service used for local
#host: https://return-case-doc.dev.ccd.reform.hmcts.net:3453
printservice:
  templatesDirectory: templates/printService/
  host: http://localhost:3453
  internal:
    host: http://localhost:3453
  path: /jurisdictions/PROBATE/case-types/GrantOfRepresentation/cases/%s/probate/
  legacyPath: /print/probateManTypes/%s/cases/%s

ccd.gateway:
  host: http://localhost:3453

ccd.data.store.api:
  host: http://localhost:4452
  caseMatchingPath: /searchCases

spring:
  jackson:
    serialization:
      wrap_root_value: false
      write-dates-as-timestamps: false
    deserialization:
      unwrap_root_value: false
  application:
    name: probate-sol-ccd
  jpa:
    database: POSTGRESQL
    show-sql: ${probate.persistence.show_sql}
    hibernate.ddl-auto: none

  datasource:
    url: jdbc:postgresql://${probate.postgresql.hostname}:${probate.postgresql.port}/${probate.postgresql.database}
    username:  ${probate.postgresql.user}
    password:  ${probate.postgresql.password}

  database.driverClassName: org.postgresql.Driver


spring.document.retriever.service.api.baseurl: localhost:5006

spring.jackson.serialization.write_dates_as_timestamps: false

####Evidence management Service URL's
#hard coded to point to docker container ccd-data-store-api CCD_DM_DOMAIN value
evidence.management.host: http://localhost:5006
evidence.management.upload.file.url: /documents

http.connect.timeout: 60000
http.connect.request.timeout: 60000

idam.service.host: ${PROVIDER_SERVICE_CLIENT_URL:http://localhost:4502}

logging:
  level:
    org.springframework.web: ERROR
    uk.gov.hmcts.probate: INFO
  pattern:
    console: "%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"

azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:false}

notifications:
  govNotifyApiKey: "probate_back_office_live_test-4809d6a8-a10b-405d-88eb-1fee9b3042e3-682b1c3b-647e-4a32-99b9-98a8b7c7feb7"
  templates:
    email:
      personal:
        documentReceived: "04308c65-a0bb-40b4-a3f3-ba8869048520"
        caseStopped: "58aed5cb-0aab-44f5-842f-9f0a6a150f72"
        caseStoppedCaveat: "937291a0-c0ae-40a4-a8cf-46a3452faff0"
        grantIssued: "9344693b-9ea3-487d-bec1-68201214fd27"
        grantReissued: "1b094aae-1b4e-4161-9a61-f563a1a6ed6d"
        generalCaveatMessage: "afadf00e-c224-4da0-a6dc-fb47a2e5db67"
        excelaData: "fd474506-a272-4caa-ad61-6086cee0639a"
        caveatRaised: "bf9dabd9-b22f-4cb6-b3aa-871ac8532209"
        caveatRaisedCtsc: "ed01d79f-08f0-4703-8cec-f490e499fc33"
        requestInformation: "8fd291a1-67a7-48fa-a051-fa4c93315efc"
        redeclarationSot: "4bd0e8f1-5cbd-4093-813f-f97dedcd0f5f"
      solicitor:
        documentReceived: "7f8ff32d-8297-4702-9867-312047f81492"
        caseStopped: "350f488a-68f1-44f0-b083-157285b71581"
        caseStoppedCaveat: "937291a0-c0ae-40a4-a8cf-46a3452faff0"
        grantIssued: "95aa541b-e55e-4d7c-a6f5-810b5f03adba"
        grantReissued: "1e18751f-fd4e-4893-85bb-f59cc5330c38"
        generalCaveatMessage: "afadf00e-c224-4da0-a6dc-fb47a2e5db67"
        excelaData: "fd474506-a272-4caa-ad61-6086cee0639a"
        caveatRaised: "bf9dabd9-b22f-4cb6-b3aa-871ac8532209"
        caveatRaisedCtsc: "ed01d79f-08f0-4703-8cec-f490e499fc33"
        requestInformation: "b2978c65-5974-416a-bc64-fb0ee083dc7e"
        redeclarationSot: "bcd9e4cc-db0c-4810-8172-8bcb2277b775"

registries:
  oxford:
    name: Oxford Probate Registry
    phone: 0186 579 3055
    emailReplyToId: "3c2df3ad-6eaf-4395-b85c-1ef5c5c89d4f"
    addressline1: Combined Court Building
    addressline2: St Aldates
    town: Oxford
    postcode: OX1 1LY
  birmingham:
    name: Birmingham Probate Registry
    phone: 0121 681 3401
    emailReplyToId: "e3511bc5-98d8-457c-b49b-5b0c0ba4892a"
    addressline1: The Priory Courts
    addressline2: 33 Bull Street
    town: Birmingham
    postcode: B4 6DU
  manchester:
    name: Manchester Probate Registry
    phone: 0161 240 5701 / 0161 240 5702
    emailReplyToId: "cdb5b02c-c6b6-490b-9367-8af3a3ae80b1"
    addressline1: Manchester Civil Justice Centre
    addressline2: Ground Floor
    addressline3: 1 Bridge Street West
    addressline4: PO Box 4240
    town: Manchester
    postcode: M60 1WJ
  leeds:
    name: Leeds Probate Registry
    phone: 0113 389 6133
    emailReplyToId: "1c5cc757-b7a7-4eaf-a69c-ce5bb34b63cf"
    addressline1: York House
    addressline2: York Place
    town: Leeds
    postcode: LS1 2BA
  liverpool:
    name: Liverpool Probate Registry
    phone: 0151 236 8264
    emailReplyToId: "102affef-13f1-4c9b-856d-ed183e71bd6f"
    addressline1: The Queen Elizabeth II Law Courts
    addressline2: Derby Square
    town: Liverpool
    postcode: L2 1XA
  brighton:
    name: Brighton Probate Registry
    phone: 01273 573510
    emailReplyToId: "2aebc9bd-6192-43af-a774-f2f17e69f14e"
    addressline1: William Street
    town: Brighton
    postcode: BN2 0RF
  london:
    name: London Probate Department
    phone: 020 7421 8509
    emailReplyToId: "4b8b7c3f-6d7f-45c0-9a10-544a52c04e23"
    addressline1: Principal Registry of the Family Division
    addressline2: First Avenue House
    addressline3: 42-49 High Holborn
    town: London
    postcode: WC1V 6NP
  cardiff:
    name: Probate Registry of Wales
    phone: 02920 474373
    emailReplyToId: "6d98cad6-adb4-4446-b37e-5c3f0441a0c8"
    addressline1: 3rd Floor, Cardiff Magistrates’ Court
    addressline2: Fitzalan Place
    addressline3: Cardiff
    town: South Wales
    postcode: CF24 0RZ
  newcastle:
    name: Newcastle-Upon-Tyne Probate Registry
    phone: 0191 211 2170
    emailReplyToId: "21106760-70e7-4b61-adb8-7df6f653f8db"
    addressline1: Newcastle DPR
    addressline2: No 1 Waterloo Square
    town: Newcastle-Upon-Tyne
    postcode: NE1 4DR
  winchester:
    name: Winchester Probate Registry
    phone: 01962 814100
    emailReplyToId: "de5b8f8d-fb9c-4fd7-aa3a-3732a86a2e5d"
    addressline1: 1st Floor
    addressline2: Southside Offices
    addressline3: The Law Courts
    addressline4: Winchester
    town: Hampshire
    postcode: S023 9EL
  ctsc:
    name: CTSC
    phone: 0300 303 0648
    emailReplyToId: "deb43d21-bb3a-481a-afca-5fdf83a76113"
    addressline1: Principal Registry of the Family Division
    addressline2: HMCTS Probate
    addressline3: PO Box 12625
    town: Harlow
    postcode: CM20 9QE
  bristol:
    name: Bristol District Probate Registry
    phone: 02920 474373
    emailReplyToId: "6d98cad6-adb4-4446-b37e-5c3f0441a0c8"
    addressline1: 3rd Floor, Cardiff Magistrates’ Court
    addressline2: Fitzalan Place
    addressline3: Cardiff
    town: South Wales
    postcode: CF24 0RZ


document:
  retriever:
    service:
      api:
        baseurl: localhost:8080

idam:
  s2s-auth:
    url: ${PROVIDER_SERVICE_CLIENT_URL:http://localhost:4502}
send-letter:
  url: ${SEND_LETTER_SERIVCE_BASEURL:http://localhost:8485}

auth.idam.client.baseUrl: http://localhost:4501

core_case_data.api.url: ${services.coreCaseData.baseUrl:http://localhost:4452}

excelaEmail: ${EXCELA_EMAIL:probatetest@gmail.com}

cron:
  data_extract: "0 0 2 * * *"
