<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:remove="all" th:text="${title}">Grant of Probate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">

        body {
            font-family: "Arial";
        }

        .table-content {
            display: block;
            padding-top: 8px;
        }

        .text-header {
            font-size: 13pt;
            text-align: center;
        }

        .text-rightAligned {
            font-size: 11pt;
            text-align: right;
        }

        .text-leftAligned {
            font-size: 11pt;
            text-align: left;
        }

        .text-centerAligned {
            font-size: 11pt;
            text-align: center;
        }

        .camelCase {
            text-transform: capitalize;
        }

        .upperCase {
            text-transform: uppercase;
        }

        .circle {
            border-radius: 50%;
            border: 1px solid black;
            height: 200px;
            width: 200px;
            float: right;
        }

        #watermark {
            height: 600px;
            width: 600px;
            background-position: center;
            z-index: -1;
            position: absolute;
            overflow: hidden;
            top: 30%;
            text-align: center;
            color: #ff8080;
            margin-left: 100px;
        }

        .center {
            display: block;
            margin: 0 auto;
            height: 140px;
            width: 200px;
        }

        .line-top{
            width: 700px;
            height: 0px;
            border-bottom: 1px solid black;
            position: absolute;
        }

        .line-bottom{
            width: 700px;
            height: 0px;
            border-bottom: 1px solid black;
            position: absolute;
        }

        .image{
            display: block;
            margin: 0 auto;
            height: 100px;
            width: 100px;
        }

    </style>
</head>
<body>
<div id="watermark" style="font-size: 5.0em">
    DRAFT COPY -
    <br/> NOT FOR CIRCULATION
</div>
<table>
    <tbody class="table-content">
    <tr>
        <td colspan="1">
            <img src="../../../java/uk/gov/hmcts/probate/Legislation.jpg" class="image" align="left"/>
        </td>
        <td colspan="2" class="text-leftAligned">
            High Court of Justice England and Wales<br/>
            Birmingham District Probate Registry<br/>
            Priory Court<br/>
            33 Bull Street<br/>
            Birmingham<br/>
            B4 6DU<br/>
            0201 234 5678
        </td>
    </tr>
    <tr>
        <td>
            <p class="line-top"></p>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="text-header">
            <br/>
            <br/>
            <Strong>Letter of Administration with will</Strong>
            <br/>
            <br/>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="text-rightAligned">
            Case Reference: {{case_details.id}}<br />
            Date of Issue: {{case_details.case_data.currentDateFormatted}}
            <br/>
            <br/>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="text-leftAligned">
            {% if case_details.case_data.primaryApplicantIsApplying == "No" %}
            {% for executor in case_details.case_data.executorsApplying %}
            {% if loop.first %}
            <span class="camelCase">
                <strong>
                    {% if executor.value.applyingExecutorName != null and executor.value.applyingExecutorName != ""%}{{executor.value.applyingExecutorName}}{% endif %}
                </strong>
            </span>
            {% endif %}
            {% endfor %}
            {% else %}
            <span class="camelCase">
                    <strong>{{case_details.case_data.primaryApplicantForenames}} {{case_details.case_data.primaryApplicantSurname}}</strong>
                </span>
            {% endif %} made an application to this Court for a Grant of Probate and declared the following information.
            <p>
                {% if case_details.case_data.boDeceasedTitle != null and case_details.case_data.boDeceasedTitle != "" %}{{ case_details.case_data.boDeceasedTitle }}{% endif %}<strong>{{case_details.case_data.deceasedForenames}} {{case_details.case_data.deceasedSurname}}</strong> {% if case_details.case_data.boDeceasedHonours != null and case_details.case_data.boDeceasedHonours != "" %}{{ case_details.case_data.boDeceasedHonours }}{% endif %}
                of {% if case_details.case_data.deceasedAddress.AddressLine1 != null and case_details.case_data.deceasedAddress.AddressLine1 != "" %}{{ case_details.case_data.deceasedAddress.AddressLine1}}{% endif %}
                {% if case_details.case_data.deceasedAddress.AddressLine2 != null and case_details.case_data.deceasedAddress.AddressLine2 != "" %} {{case_details.case_data.deceasedAddress.AddressLine2}}{% endif %}
                {% if case_details.case_data.deceasedAddress.AddressLine3 != null and case_details.case_data.deceasedAddress.AddressLine3 != "" %} {{case_details.case_data.deceasedAddress.AddressLine3}}{% endif %}
                {% if case_details.case_data.deceasedAddress.PostTown != null and case_details.case_data.deceasedAddress.PostTown != "" %} {{case_details.case_data.deceasedAddress.PostTown}}{% endif %}
                {% if case_details.case_data.deceasedAddress.County != null and case_details.case_data.deceasedAddress.County != "" %} {{case_details.case_data.deceasedAddress.County}}{% endif %}
                {% if case_details.case_data.deceasedAddress.PostCode != null and case_details.case_data.deceasedAddress.PostCode != ""%} {{case_details.case_data.deceasedAddress.PostCode}}{% endif %}
                {% if case_details.case_data.deceasedAddress.Country != null and case_details.case_data.deceasedAddress.Country != ""%} {{case_details.case_data.deceasedAddress.Country}}{% endif %}
                <br />
                {% if case_details.case_data.solsDeceasedAliasNamesList != null and case_details.case_data.solsDeceasedAliasNamesList != "" %}{% for alias in case_details.case_data.solsDeceasedAliasNamesList %}{% if loop.first %}Otherwise {{alias.value.SolsAliasname}}{% else %}, {{alias.value.SolsAliasname}}{% endif %}{% endfor %}{% endif %}
                <br/>of <strong><span class="camelCase">{% if case_details.case_data.deceasedAddress.AddressLine1 != null and case_details.case_data.deceasedAddress.AddressLine1 != "" %}{{ case_details.case_data.deceasedAddress.AddressLine1}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.AddressLine2 != null and case_details.case_data.deceasedAddress.AddressLine2 != "" %} {{case_details.case_data.deceasedAddress.AddressLine2}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.AddressLine3 != null and case_details.case_data.deceasedAddress.AddressLine3 != "" %} {{case_details.case_data.deceasedAddress.AddressLine3}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.PostTown != null and case_details.case_data.deceasedAddress.PostTown != "" %} {{case_details.case_data.deceasedAddress.PostTown}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.County != null and case_details.case_data.deceasedAddress.County != "" %} {{case_details.case_data.deceasedAddress.County}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.PostCode != null and case_details.case_data.deceasedAddress.PostCode != ""%} {{case_details.case_data.deceasedAddress.PostCode}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.Country != null and case_details.case_data.deceasedAddress.Country != ""%} {{case_details.case_data.deceasedAddress.Country}}{% endif %}</span></strong>
                <br />
                Died on <strong>{{case_details.case_data.deceasedDateOfDeathFormatted}}</strong> domiciled in <strong>England and Wales</strong>
            </p>
            <p>
                The Administration of <strong>{{case_details.case_data.deceasedForenames}} {{case_details.case_data.deceasedSurname}}</strong>'s is granted by the High Court of Justice on this date to the following Executor{% set applyingExecCounter = 0 %}{% for executor
                in case_details.case_data.executorsApplying %}{% set applyingExecCounter = applyingExecCounter + 1 %}{%
                endfor %}{% if applyingExecCounter > 0 %}s{% endif %}
            </p>
            {% if case_details.case_data.primaryApplicantIsApplying == "No" %}
            <p>{% for executor in case_details.case_data.executorsApplying %}
                {% if loop.first %}
                <span style="text-transform: uppercase;"><strong>
                    {% if executor.value.applyingExecutorName != null and executor.value.applyingExecutorName != ""%}{{executor.value.applyingExecutorName}}{% endif %}
               </strong></span>
                of <span class="camelCase"><strong>
                {% if executor.value.applyingExecutorAddress.AddressLine1 != null and executor.value.applyingExecutorAddress.AddressLine1 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine1 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine2 != null and executor.value.applyingExecutorAddress.AddressLine2 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine2 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine3 != null and executor.value.applyingExecutorAddress.AddressLine3 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine3 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostTown != null and executor.value.applyingExecutorAddress.PostTown != "" %}{{ executor.value.applyingExecutorAddress.PostTown }}{% endif %}
                {% if executor.value.applyingExecutorAddress.County != null and executor.value.applyingExecutorAddress.County != "" %}{{ executor.value.applyingExecutorAddress.County }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostCode != null and executor.value.applyingExecutorAddress.PostCode != ""%}{{ executor.value.applyingExecutorAddress.PostCode }}{% endif %}
                {% if executor.value.applyingExecutorAddress.Country != null and executor.value.applyingExecutorAddress.Country != ""%}{{ executor.value.applyingExecutorAddress.Country }}{% endif %}
                </strong></span>
                {% else %}
                <br/>
                <span>and </span>
                <span style="text-transform: uppercase;"><strong>
                    {% if executor.value.applyingExecutorName != null and executor.value.applyingExecutorName != ""%}{{executor.value.applyingExecutorName}}{% endif %}
               </strong></span>
                of <span class="camelCase"><strong>
                {% if executor.value.applyingExecutorAddress.AddressLine1 != null and executor.value.applyingExecutorAddress.AddressLine1 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine1 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine2 != null and executor.value.applyingExecutorAddress.AddressLine2 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine2 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine3 != null and executor.value.applyingExecutorAddress.AddressLine3 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine3 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostTown != null and executor.value.applyingExecutorAddress.PostTown != "" %}{{ executor.value.applyingExecutorAddress.PostTown }}{% endif %}
                {% if executor.value.applyingExecutorAddress.County != null and executor.value.applyingExecutorAddress.County != "" %}{{ executor.value.applyingExecutorAddress.County }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostCode != null and executor.value.applyingExecutorAddress.PostCode != ""%}{{ executor.value.applyingExecutorAddress.PostCode }}{% endif %}
                {% if executor.value.applyingExecutorAddress.Country != null and executor.value.applyingExecutorAddress.Country != ""%}{{ executor.value.applyingExecutorAddress.Country }}{% endif %}
                </strong></span>
                {% endif %}
                {% endfor %}
            </p>
            {% else %}
            <p>
                <strong>
                    <span class="upperCase">{{case_details.case_data.primaryApplicantForenames}} {{case_details.case_data.primaryApplicantSurname}}</span>
                </strong> of
                <strong>
                    <span class="camelCase">{% if case_details.case_data.primaryApplicantAddress.AddressLine1 != null and case_details.case_data.primaryApplicantAddress.AddressLine1 != "" %}{{ case_details.case_data.primaryApplicantAddress.AddressLine1}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.AddressLine2 != null and case_details.case_data.primaryApplicantAddress.AddressLine2 != "" %} {{case_details.case_data.primaryApplicantAddress.AddressLine2}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.AddressLine3 != null and case_details.case_data.primaryApplicantAddress.AddressLine3 != "" %} {{case_details.case_data.primaryApplicantAddress.AddressLine3}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.PostTown != null and case_details.case_data.primaryApplicantAddress.PostTown != "" %} {{case_details.case_data.primaryApplicantAddress.PostTown}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.County != null and case_details.case_data.primaryApplicantAddress.County != "" %} {{case_details.case_data.primaryApplicantAddress.County}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.PostCode != null and case_details.case_data.primaryApplicantAddress.PostCode != ""%} {{case_details.case_data.primaryApplicantAddress.PostCode}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.Country != null and case_details.case_data.primaryApplicantAddress.Country != ""%} {{case_details.case_data.primaryApplicantAddress.Country}}{% endif %}</span>
                </strong>
                {% for executor in case_details.case_data.executorsApplying %}
                <br/>
                <span>and </span>
                <span style="text-transform: uppercase;"><strong>
                    {% if executor.value.applyingExecutorName != null and executor.value.applyingExecutorName != ""%}{{executor.value.applyingExecutorName}}{% endif %}
               </strong></span>
                of <span class="camelCase"><strong>
                {% if executor.value.applyingExecutorAddress.AddressLine1 != null and executor.value.applyingExecutorAddress.AddressLine1 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine1 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine2 != null and executor.value.applyingExecutorAddress.AddressLine2 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine2 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine3 != null and executor.value.applyingExecutorAddress.AddressLine3 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine3 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostTown != null and executor.value.applyingExecutorAddress.PostTown != "" %}{{ executor.value.applyingExecutorAddress.PostTown }}{% endif %}
                {% if executor.value.applyingExecutorAddress.County != null and executor.value.applyingExecutorAddress.County != "" %}{{ executor.value.applyingExecutorAddress.County }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostCode != null and executor.value.applyingExecutorAddress.PostCode != ""%}{{ executor.value.applyingExecutorAddress.PostCode }}{% endif %}
                {% if executor.value.applyingExecutorAddress.Country != null and executor.value.applyingExecutorAddress.Country != ""%}{{ executor.value.applyingExecutorAddress.Country }}{% endif %}
                </strong></span>
                {% endfor %}
            </p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                {% set powerReservedCounter = 0 %}
                {% if case_details.case_data.executorsNotApplying != null %}
                {% for executor in case_details.case_data.executorsNotApplying %}
                {% if executor.value.notApplyingExecutorReason == "PowerReserved" %}
                {% set powerReservedCounter = powerReservedCounter + 1 %}
                {% endif %}
                {% endfor %}
                {% endif %}

                {% if case_details.case_data.primaryApplicantIsApplying == "No" %}
                {% if case_details.case_data.solsPrimaryExecutorNotApplyingReason == "PowerReserved" %}
                {% set powerReservedCounter = powerReservedCounter + 1 %}
                {% endif %}
                {% endif %}

                {% if powerReservedCounter == 0 %}{% endif %}
                {% if powerReservedCounter == 1 %}Power reserved to another Executor{% endif %}
                {% if powerReservedCounter > 1 %}Power reserved to other Executors{% endif %}
                <br/>
                {% if case_details.case_data.boExecutorLimitation != null and
                case_details.case_data.boExecutorLimitation != ""%}
                {{ case_details.case_data.boExecutorLimitation }}{%endif %}
                <br/>
                {% if case_details.case_data.boAdminClauseLimitation != null and
                case_details.case_data.boAdminClauseLimitation != ""%}
                {{ case_details.case_data.boAdminClauseLimitation}}{% endif %}
                <br/>
                {% if case_details.case_data.boLimitationText != null and case_details.case_data.boLimitationText != ""%}
                {{ case_details.case_data.boLimitationText }}{% endif %}

            </p>
            <p>The application has stated that the gross value of the estate in the United Kingdom amounts to
                £{{(case_details.case_data.ihtGrossValue / 100) | numberformat("###,###")}} and the net value amounts to
                £{{(case_details.case_data.ihtNetValue / 100) | numberformat("###,###")}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="data:image/png;base64,{{case_details.grantSignatureBase64}}" class="center"/>
            <p class="text-centerAligned">DISTRICT REGISTRAR</p>
        </td>
        <td>
            <span class="circle"></span>
        </td>
    </tr>
    <tr colspan="2">
        <td colspan="2">
            <br />
            <br />
            <span class="line-bottom"></span>
            <p>Extracted {% if
                case_details.case_data.applicationType != "Personal"%}
                by {{case_details.case_data.solsSolicitorFirmName}} (Ref:
                {{case_details.case_data.solsSolicitorAppReference}})
                {{case_details.case_data.solsSolicitorFirmPostcode}} {% else %}personally{% endif %}</p>
        </td>
        <td colspan="1">
            <br />
            <br />
            <p style="text-align:right"> ADMINISTRATION</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>