<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:remove="all" th:text="${title}">Grant of Probate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">

        body {
            font-family: "Times New Roman", sans-serif;
        }

        .table-content {
            display: block;
            padding-top: 8px;
        }

        .legal-header {
            font-size: 1.5em;
            text-align: center;
        }

        .legal-subheader {
            font-size: 1.2em;
            text-align: center;
        }

        .legal-msg {
            font-size: 0.8em;
            text-align: center;
        }

        .legal-body {
            font-size: 0.9em;
            text-align: left;
        }

        .camelCase {
            text-transform: capitalize;
        }

        .upperCase {
            text-transform: uppercase;
        }

        .circle {
            border-radius: 50%;
            border: 1px solid black;
            height: 200px;
            width: 200px;
            float: right;
        }

        .indent {
            padding-left: 55px;
        }

        .andGap {
            margin-left: -55px;
            margin-right: 27px;
        }

        #watermark {
            height: 600px;
            width: 600px;
            background-position: center;
            z-index: -1;
            position: absolute;
            overflow: hidden;
            top: 30%;
            text-align: center;
            color: #ff8080;
            margin-left: 100px;
        }

        .center {
            display: block;
            margin: 0 auto;
            height: 140px;
            width: 200px;
        }

    </style>
</head>
<body>
<table>
    <tbody class="table-content">
    <tr>
        <td colspan="2" class="legal-msg">
            <u>COPIES OF THIS GRANT ARE NOT VALID UNLESS<br/>
                THEY BEAR THE IMPRESSED SEAL OF THE COURT<br/>
            </u>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="legal-header">
            <Strong>IN THE HIGH COURT OF JUSTICE</Strong><br/>
        </td>

    </tr>
    <tr>
        <td colspan="2" class="legal-subheader">
            The District Probate Registry at {{case_details.case_data.registryLocation}}<br/>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="legal-body">
            <p>BE IT KNOWN that <span class="upperCase"> <strong> {% if case_details.case_data.boDeceasedTitle != null and case_details.case_data.boDeceasedTitle != "" %}{{ case_details.case_data.boDeceasedTitle }}{% endif %} {{case_details.case_data.deceasedForenames}} {{case_details.case_data.deceasedSurname}} {% if case_details.case_data.boDeceasedHonours != null and case_details.case_data.boDeceasedHonours != "" %}{{ case_details.case_data.boDeceasedHonours }}{% endif %}</strong></span>
                <br/>
                {% if case_details.case_data.solsDeceasedAliasNamesList != null and case_details.case_data.solsDeceasedAliasNamesList != "" %}{% for alias in case_details.case_data.solsDeceasedAliasNamesList %}{% if loop.first %}Otherwise {{alias.value.SolsAliasname}}{% else %}, {{alias.value.SolsAliasname}}{% endif %}{% endfor %}{% endif %}
                <br/>of <strong><span class="camelCase">{% if case_details.case_data.deceasedAddress.AddressLine1 != null and case_details.case_data.deceasedAddress.AddressLine1 != "" %}{{ case_details.case_data.deceasedAddress.AddressLine1}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.AddressLine2 != null and case_details.case_data.deceasedAddress.AddressLine2 != "" %} {{case_details.case_data.deceasedAddress.AddressLine2}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.AddressLine3 != null and case_details.case_data.deceasedAddress.AddressLine3 != "" %} {{case_details.case_data.deceasedAddress.AddressLine3}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.PostTown != null and case_details.case_data.deceasedAddress.PostTown != "" %} {{case_details.case_data.deceasedAddress.PostTown}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.County != null and case_details.case_data.deceasedAddress.County != "" %} {{case_details.case_data.deceasedAddress.County}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.PostCode != null and case_details.case_data.deceasedAddress.PostCode != ""%} {{case_details.case_data.deceasedAddress.PostCode}}{% endif %}
                    {% if case_details.case_data.deceasedAddress.Country != null and case_details.case_data.deceasedAddress.Country != ""%} {{case_details.case_data.deceasedAddress.Country}}{% endif %}</span></strong>
            </p>
            <p>died on the <strong>{{case_details.case_data.deceasedDateOfDeathFormatted}}</strong>
                <br/>
                domiciled in <strong>England and Wales</strong>
            </p>
            <p>AND BE IT FURTHER KNOWN that the last Will and Testament
                <strong><span class="camelCase">
                {% if case_details.case_data.boWillMessage != null and case_details.case_data.boWillMessage != ""%}{{ case_details.case_data.boWillMessage }}{% endif %}
                </span></strong>
                of the said deceased (An official copy of which is available from the Court) was proved and registered
                in the High
                Court of Justice and that Administration of all
                the estate which by law devolves to and vests in the personal representative of the said deceased was
                granted by the said Court on this date to the Executor{% set applyingExecCounter = 0 %}{% for executor
                in case_details.case_data.executorsApplying %}{% set applyingExecCounter = applyingExecCounter + 1 %}{%
                endfor %}{% if applyingExecCounter > 0 %}s{% endif %}
            </p>
            {% if case_details.case_data.primaryApplicantIsApplying == "No" %}
            <p class="indent">{% for executor in case_details.case_data.executorsApplying %}
                {% if loop.first %}
                <span style="text-transform: uppercase;"><strong>
                    {% if executor.value.applyingExecutorName != null and executor.value.applyingExecutorName != ""%}{{executor.value.applyingExecutorName}}{% endif %}
               </strong></span>
                of <span class="camelCase"><strong>
                {% if executor.value.applyingExecutorAddress.AddressLine1 != null and executor.value.applyingExecutorAddress.AddressLine1 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine1 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine2 != null and executor.value.applyingExecutorAddress.AddressLine2 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine2 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine3 != null and executor.value.applyingExecutorAddress.AddressLine3 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine3 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostTown != null and executor.value.applyingExecutorAddress.PostTown != "" %}{{ executor.value.applyingExecutorAddress.PostTown }}{% endif %}
                {% if executor.value.applyingExecutorAddress.County != null and executor.value.applyingExecutorAddress.County != "" %}{{ executor.value.applyingExecutorAddress.County }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostCode != null and executor.value.applyingExecutorAddress.PostCode != ""%}{{ executor.value.applyingExecutorAddress.PostCode }}{% endif %}
                {% if executor.value.applyingExecutorAddress.Country != null and executor.value.applyingExecutorAddress.Country != ""%}{{ executor.value.applyingExecutorAddress.Country }}{% endif %}
                </strong></span>
                {% else %}
                <br/>
                <span class="andGap">and </span>
                <span style="text-transform: uppercase;"><strong>
                    {% if executor.value.applyingExecutorName != null and executor.value.applyingExecutorName != ""%}{{executor.value.applyingExecutorName}}{% endif %}
               </strong></span>
                of <span class="camelCase"><strong>
                {% if executor.value.applyingExecutorAddress.AddressLine1 != null and executor.value.applyingExecutorAddress.AddressLine1 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine1 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine2 != null and executor.value.applyingExecutorAddress.AddressLine2 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine2 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine3 != null and executor.value.applyingExecutorAddress.AddressLine3 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine3 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostTown != null and executor.value.applyingExecutorAddress.PostTown != "" %}{{ executor.value.applyingExecutorAddress.PostTown }}{% endif %}
                {% if executor.value.applyingExecutorAddress.County != null and executor.value.applyingExecutorAddress.County != "" %}{{ executor.value.applyingExecutorAddress.County }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostCode != null and executor.value.applyingExecutorAddress.PostCode != ""%}{{ executor.value.applyingExecutorAddress.PostCode }}{% endif %}
                {% if executor.value.applyingExecutorAddress.Country != null and executor.value.applyingExecutorAddress.Country != ""%}{{ executor.value.applyingExecutorAddress.Country }}{% endif %}
                </strong></span>
                {% endif %}
                {% endfor %}
            </p>
            {% else %}
            <p class="indent">
                <strong>
                    <span class="upperCase">{{case_details.case_data.primaryApplicantForenames}} {{case_details.case_data.primaryApplicantSurname}}</span>
                </strong> of
                <strong>
                    <span class="camelCase">{% if case_details.case_data.primaryApplicantAddress.AddressLine1 != null and case_details.case_data.primaryApplicantAddress.AddressLine1 != "" %}{{ case_details.case_data.primaryApplicantAddress.AddressLine1}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.AddressLine2 != null and case_details.case_data.primaryApplicantAddress.AddressLine2 != "" %} {{case_details.case_data.primaryApplicantAddress.AddressLine2}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.AddressLine3 != null and case_details.case_data.primaryApplicantAddress.AddressLine3 != "" %} {{case_details.case_data.primaryApplicantAddress.AddressLine3}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.PostTown != null and case_details.case_data.primaryApplicantAddress.PostTown != "" %} {{case_details.case_data.primaryApplicantAddress.PostTown}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.County != null and case_details.case_data.primaryApplicantAddress.County != "" %} {{case_details.case_data.primaryApplicantAddress.County}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.PostCode != null and case_details.case_data.primaryApplicantAddress.PostCode != ""%} {{case_details.case_data.primaryApplicantAddress.PostCode}}{% endif %}
                    {% if case_details.case_data.primaryApplicantAddress.Country != null and case_details.case_data.primaryApplicantAddress.Country != ""%} {{case_details.case_data.primaryApplicantAddress.Country}}{% endif %}</span>
                </strong>
                {% for executor in case_details.case_data.executorsApplying %}
                <br/>
                <span class="andGap">and </span>
                <span style="text-transform: uppercase;"><strong>
                    {% if executor.value.applyingExecutorName != null and executor.value.applyingExecutorName != ""%}{{executor.value.applyingExecutorName}}{% endif %}
               </strong></span>
                of <span class="camelCase"><strong>
                {% if executor.value.applyingExecutorAddress.AddressLine1 != null and executor.value.applyingExecutorAddress.AddressLine1 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine1 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine2 != null and executor.value.applyingExecutorAddress.AddressLine2 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine2 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.AddressLine3 != null and executor.value.applyingExecutorAddress.AddressLine3 != "" %}{{ executor.value.applyingExecutorAddress.AddressLine3 }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostTown != null and executor.value.applyingExecutorAddress.PostTown != "" %}{{ executor.value.applyingExecutorAddress.PostTown }}{% endif %}
                {% if executor.value.applyingExecutorAddress.County != null and executor.value.applyingExecutorAddress.County != "" %}{{ executor.value.applyingExecutorAddress.County }}{% endif %}
                {% if executor.value.applyingExecutorAddress.PostCode != null and executor.value.applyingExecutorAddress.PostCode != ""%}{{ executor.value.applyingExecutorAddress.PostCode }}{% endif %}
                {% if executor.value.applyingExecutorAddress.Country != null and executor.value.applyingExecutorAddress.Country != ""%}{{ executor.value.applyingExecutorAddress.Country }}{% endif %}
                </strong></span>
                {% endfor %}
            </p>
            {% endif %}

        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                {% if case_details.case_data.executorsNotApplying != null %}
                {% set powerReservedCounter = 0 %}
                {% for executor in case_details.case_data.executorsNotApplying %}
                {% if executor.value.notApplyingExecutorReason == "PowerReserved" %}
                {% set powerReservedCounter = powerReservedCounter + 1 %}
                {% endif %}
                {% endfor %}

                {% if powerReservedCounter == 0 %}{% endif %}
                {% if powerReservedCounter == 1 %}Power reserved to another Executor{% endif %}
                {% if powerReservedCounter > 1 %}Power reserved to other Executors{% endif %}
                {% endif %}
            </p>

            <p>
                {% if case_details.case_data.boExecutorLimitation != null and
                case_details.case_data.boExecutorLimitation != ""%}
                {{ case_details.case_data.boExecutorLimitation }}{%endif %}
                <br/>
                {% if case_details.case_data.boAdminClauseLimitation != null and
                case_details.case_data.boAdminClauseLimitation != ""%}
                {{ case_details.case_data.boAdminClauseLimitation}}{% endif %}
                <br/>
                {% if case_details.case_data.boLimitationText != null and case_details.case_data.boLimitationText !=
                ""%}
                {{ case_details.case_data.boLimitationText }}{% endif %}

            </p>
            <p>It is hereby certified that it appears from information supplied on the application for this grant that
                the gross value of the said estate in the United Kingdom does not exceed
                £{{(case_details.case_data.ihtGrossValue / 100) | numberformat("###,###")}} and the net value of the such
                estate amounts to
                £{{(case_details.case_data.ihtNetValue / 100) | numberformat("###,###")}}
            </p>
            <p>
                DATED the <strong>{{case_details.case_data.currentDateFormatted}}</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="data:image/png;base64,{{case_details.grantSignatureBase64}}" class="center"/>
            <p style="text-align:center; font-size: 0.9em;">DISTRICT REGISTRAR / PROBATE OFFICER</p>
        </td>
        <td>
            <span class="circle"></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p style="font-size: 0.9em;">Extracted {% if
                case_details.case_data.applicationType != "Personal"%}
                by {{case_details.case_data.solsSolicitorFirmName}} (Ref:
                {{case_details.case_data.solsSolicitorAppReference}})
                {{case_details.case_data.solsSolicitorFirmPostcode}} {% else %}personally{% endif %}</p>
            <p style="text-align:center; font-size: 0.9em;">PROBATE</p>
            <p style="text-align:right; font-size: 0.9em;"><strong>{{case_details.id}}</strong></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>