<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all" th:text="${title}">Probate application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">

            body {
                font-family: Verdana, Arial;
            }

            .incomplete-banner {
                border: 1px solid #000;
                background-color: #ffafaf;
                text-align: center;
                padding: 10px 0;
                font-size: 1.3em;
            }

            .sequence {
                border-bottom: 1px solid #000;
                padding: 10px 0 10px 3px;
            }

            .table-content {
                display: block;
                padding-top: 8px;
            }

            .pagebreak {
                min-height: 1020px;
            }

            .legal-header {
                font-size: 1.2em;
                text-align: center;
            }

            .spacer {
                height: 20px;
            }

        </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <td colspan="2" class="sequence">
            <strong><span>{{ case_details.id }}</span></strong>
        </td>
    </tr>
    </thead>
    <tbody class="table-content">
    <tr>
        <td colspan="2" style="height: 15px;">
        </td>
    </tr>
    <tr>
        <td colspan="2" class="legal-header">
            <strong>IN THE HIGH COURT OF JUSTICE</strong><br />
            FAMILY DIVISION<br />
            (PROBATE)
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height: 15px;">
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="top" style="font-weight: bold"><h2>Legal statement</h2></td>
    </tr>
    <tr>
        <td colspan="2">
            <p>The {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}executors believe{% else %}executor believes{% endif %} that all the information stated in the legal statement is true.</p>
            <p>This statement is based on the information given in your application. It will be stored as a public record.</p>
            <p>{% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}We{% else %}I{% endif %},
                {% set countApplying = 1 %}{% for executor in case_details.case_data.executorsApplyingForLegalStatement %}
                {{ executor.value.additionalExecForenames }} {{ executor.value.additionalExecLastname }} of
                {% if executor.value.additionalExecAddress.AddressLine1 != null and executor.value.additionalExecAddress.AddressLine1 != "" %}{{ executor.value.additionalExecAddress.AddressLine1 }},{% endif %}
                {% if executor.value.additionalExecAddress.AddressLine2 != null and executor.value.additionalExecAddress.AddressLine2 != "" %}{{ executor.value.additionalExecAddress.AddressLine2 }},{% endif %}
                {% if executor.value.additionalExecAddress.AddressLine3 != null and executor.value.additionalExecAddress.AddressLine3 != "" %}{{ executor.value.additionalExecAddress.AddressLine3 }},{% endif %}
                {% if executor.value.additionalExecAddress.PostTown != null and executor.value.additionalExecAddress.PostTown != "" %}{{ executor.value.additionalExecAddress.PostTown }},{% endif %}
                {% if executor.value.additionalExecAddress.County != null and executor.value.additionalExecAddress.County != "" %}{{ executor.value.additionalExecAddress.County }},{% endif %}
                {% if executor.value.additionalExecAddress.PostCode != null and executor.value.additionalExecAddress.PostCode != ""%}{{ executor.value.additionalExecAddress.PostCode }},{% endif %}
                {% if executor.value.additionalExecAddress.Country != null and executor.value.additionalExecAddress.Country != ""%}{{ executor.value.additionalExecAddress.Country }}{% endif %}
                {% if (countApplying < (case_details.case_data.executorsApplyingForLegalStatement|length)) %} and {% endif %}
                {% set countApplying = countApplying + 1 %}
                {% endfor %}
                make the following statement:</p>
        </td>
    </tr>

    <tr>
        <td colspan="2" valign="top" style="font-weight: bold">The person who died</td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                {{ case_details.case_data.deceasedForenames }} {{ case_details.case_data.deceasedSurname }},
                {% if case_details.case_data.solsDeceasedAliasNamesList|length>0 %} also known as
                {% for alias in case_details.case_data.solsDeceasedAliasNamesList %} {{ alias.value.SolsAliasname }}{%
                if loop.length - loop.index > 2 %}, {% elseif loop.length - loop.index > 1 %} and{% endif %} {% endfor
                %}
                {% endif %}
                of
                {% if case_details.case_data.deceasedAddress.AddressLine1 != null and
                case_details.case_data.deceasedAddress.AddressLine1 != "" %}{{
                case_details.case_data.deceasedAddress.AddressLine1 }},{% endif %}
                {% if case_details.case_data.deceasedAddress.AddressLine2 != null and
                case_details.case_data.deceasedAddress.AddressLine2 != "" %}{{
                case_details.case_data.deceasedAddress.AddressLine2 }},{% endif %}
                {% if case_details.case_data.deceasedAddress.AddressLine3 != null and
                case_details.case_data.deceasedAddress.AddressLine3 != "" %}{{
                case_details.case_data.deceasedAddress.AddressLine3 }},{% endif %}
                {% if case_details.case_data.deceasedAddress.PostTown != null and
                case_details.case_data.deceasedAddress.PostTown != "" %}{{
                case_details.case_data.deceasedAddress.PostTown }},{% endif %}
                {% if case_details.case_data.deceasedAddress.County != null and
                case_details.case_data.deceasedAddress.County != "" %}{{ case_details.case_data.deceasedAddress.County
                }},{% endif %}
                {% if case_details.case_data.deceasedAddress.PostCode != null and
                case_details.case_data.deceasedAddress.PostCode != "" %}{{
                case_details.case_data.deceasedAddress.PostCode }},{% endif %}
                {% if case_details.case_data.deceasedAddress.Country != null and
                case_details.case_data.deceasedAddress.Country != "" %}{{
                case_details.case_data.deceasedAddress.Country }}{% endif %}
                was born on {{ case_details.case_data.deceasedDateOfBirth|date("dd/MM/yyyy", existingFormat="yyyy-MM-dd") }}
                and died on {{ case_details.case_data.deceasedDateOfDeath|date("dd/MM/yyyy", existingFormat="yyyy-MM-dd") }}, domiciled in {% if case_details.case_data.domicilityCountry != null and case_details.case_data.domicilityCountry != "" %}{{ case_details.case_data.domicilityCountry }}.{% else %}England and Wales.{% endif %}
                {% if case_details.case_data.appointExec == "Yes" %}
                The will appoints an executor.{% endif %}
                {% if case_details.case_data.appointExecNo == "Yes" %}
                The will appoints an executor according to the tenor.{% endif %}
            </p>
        </td>
    </tr>

    <tr>
        <td colspan="2" valign="top" style="font-weight: bold">The estate of the person who died</td>
    </tr>
    <tr>
        <td colspan="2">
            <p>The gross value for the estate in England and Wales
                amounts to &#163;{{ (case_details.case_data.ihtGrossValue/100)|numberformat("#.00") }} and the net value for the estate amounts to &#163;{{ (case_details.case_data.ihtNetValue/100)|numberformat("#.00") }}.</p>
            <p>To the best of {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}our{% else %}my{% endif %} knowledge, information and belief, there was no land vested in {{ case_details.case_data.deceasedForenames }} {{ case_details.case_data.deceasedSurname }} which was settled previously to the death (and not by the will) of {{ case_details.case_data.deceasedForenames }} {{ case_details.case_data.deceasedSurname }} and which remained settled land notwithstanding such death.</p>
        </td>
    </tr>

    <tr>
        <td colspan="2" valign="top" style="font-weight: bold">Executors applying for probate</td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                {% if case_details.case_data.applicationGrounds != null and case_details.case_data.applicationGrounds != "" %}The grounds for making this application and any supporting evidence are:
                {{ case_details.case_data.applicationGrounds }}
                {% endif %}
            </p>
            {% for executor in case_details.case_data.executorsApplyingForLegalStatement %}
            <p>
                {{ executor.value.additionalExecForenames }} {{ executor.value.additionalExecLastname }},
                {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}an{% else %}the{% endif %} executor named in the will{% if case_details.case_data.willHasCodicils == "Yes" %} and codicil{% if case_details.case_data.willNumberOfCodicils != "" and case_details.case_data.willNumberOfCodicils != "0" and case_details.case_data.willNumberOfCodicils != "1" %}s{% endif %}{% endif %}{% if executor.value.additionalExecNameOnWill == "Yes" %} as {{ executor.value.additionalExecAliasNameOnWill }}{% endif %},
                is applying for probate.
            </p>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>{% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}We{% else %}I{% endif %} authorise {{ case_details.case_data.solsSolicitorFirmName }}
                to send on {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}our{% else %}my{% endif %} behalf what {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}we{% else %}I{% endif %} believe to be the true and original last will and testament
                {% if case_details.case_data.willHasCodicils == "Yes" %} and {{ case_details.case_data.willNumberOfCodicils }} codicils {% endif %}of
                {{ case_details.case_data.deceasedForenames }} {{ case_details.case_data.deceasedSurname }}.</p>
        </td>
    </tr>

    <tr>
        <td colspan="2" valign="top" style="font-weight: bold">Executors not applying for probate</td>
    </tr>
    <tr>
        <td colspan="2">
            {% if case_details.case_data.executorsNotApplyingForLegalStatement|length>0 %}
            {% for executor in case_details.case_data.executorsNotApplyingForLegalStatement %}
            <p><span>{{ executor.value.additionalExecForenames }} {{ executor.value.additionalExecLastname }}, another executor named in the will{% if executor.value.additionalExecNameOnWill == "Yes" %} as {{ executor.value.additionalExecAliasNameOnWill }}{% endif%},
                    {% if executor.value.additionalExecReasonNotApplying == "DiedBefore" %}is not making this application because they died before {{ case_details.case_data.deceasedForenames }} {{ case_details.case_data.deceasedSurname }} died.{% endif %}
                    {% if executor.value.additionalExecReasonNotApplying == "DiedAfter" %} is not making this application because they died after {{ case_details.case_data.deceasedForenames }} {{ case_details.case_data.deceasedSurname }} died.{% endif %}
                    {% if executor.value.additionalExecReasonNotApplying == "PowerReserved" %}is not making this application but reserves power to do so at a later date. They have been notified in writing.{% endif %}
                    {% if executor.value.additionalExecReasonNotApplying == "Renunciation" %}is not making this application and gives up the right to do so in the future.{% endif %}
                  </span></p>
            {% endfor %}
            {% else %}
            <p><span>None.</span></p>
            {% endif %}
            <p>{% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}We{% else %}I{% endif %} confirm that the information {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}we{% else %}I{% endif %} have provided is correct to the best of {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}our{% else %}my{% endif %} knowledge.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="spacer"></td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold">Declaration</td>
    </tr>
    <tr>
        <td colspan="2">
            <p>{% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}We{% else %}I{% endif %} confirm that {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}we{% else %}I{% endif %} will deal with the estate of {{ case_details.case_data.deceasedForenames }} {{ case_details.case_data.deceasedSurname }}, according to law. {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}We{% else %}I{% endif %} will:</p>
            <ul>
                <li>collect the whole estate</li>
                <li>keep full details (an inventory) of the estate</li>
                <li>keep a full account of how the estate has been distributed</li>
            </ul>

            <p>If the probate registry (court) asks {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}us{% else %}me{% endif %} to do so, {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}we{% else %}I{% endif %} will:</p>
            <ul>
                <li>provide the full details of the estate and how it has been distributed</li>
                <li>return the grant of probate to the court</li>
            </ul>

            <p>{% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}We{% else %}I{% endif %} understand that:</p>
            <ul>
                <li>the application will be rejected if {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}we{% else %}I{% endif %} do not provide information (if asked)</li>
                <li>proceedings for contempt of court may be brought against the undersigned if it is found that the evidence provided is deliberately untruthful or dishonest, as well as revocation of the grant</li>
            </ul>
            <p>{% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}We{% else %}I{% endif %} authorise {{ case_details.case_data.solsSolicitorFirmName }}, as {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}our{% else %}my{% endif %} appointed firm, to
                submit this application on {% if (case_details.case_data.executorsApplyingForLegalStatement|length > 1) %}our{% else %}my{% endif %} behalf.</p>
        </td>
    </tr>
    <tr>
        <td>
            Print name
        </td>
    </tr>
    <tr>
        <td>
            <p>IN BLOCK CAPITALS (executor):</p>
        </td>
        <td>
            <p>..................................................</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Signed by (executor):</p>
        </td>
        <td>
            <p>..................................................</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Date (DD/MM/YYYY):</p>
        </td>
        <td>
            <p>..................................................</p>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>
