CW_USER_EMAIL=
CW_USER_PASSWORD=

CW_SUPERUSER_EMAIL=
CW_SUPERUSER_PASSWORD=

SOL_USER_EMAIL=
SOL_USER_PASSWORD=

SOL2_USER_EMAIL=
SOL2_USER_PASSWORD=

PROF_USER_SAC=
PROF_USER_PASSWORD_SAC=

PROF_USER_NOC=
PROF_USER_PASSWORD_NOC=